/**!
 * CSS Reset 全局样式
 * @author:ciaoca(小叉) <ciaoca@gmail.com>
 * @website:http://ciaoca.com
 * ------------------------------ */
 
/* 浮动 */
.clearfix{zoom:1;}
.clearfix:after{content:'';visibility:hidden;display:block;clear:both;height:0;font-size:0;}
  
/* 头像 */
.face{border-radius:50%;}

/* 间距 */
.mt{margin-top:20px;}
.mb{margin-bottom:20px;}
.ml{margin-left:20px;}
.mr{margin-right:20px;}

 
/**
 * 内容详情
 * ------------------------------ */
.detail{overflow:hidden;color:#555;font-size:14px;line-height:2;}
.detail a:hover{text-decoration:underline;}
.detail h1,
.detail h2,
.detail h3,
.detail h4,
.detail h5,
.detail h6{margin:0.5em 0;line-height:1.2;}
.detail h1{font-size:30px;}
.detail h2{font-size:24px;}
.detail h3{font-size:20px;}
.detail h4{font-size:18px;}
.detail h5{font-size:16px;}
.detail h6{font-size:14px;}
.detail img{max-width:100%;vertical-align:top;}
.detail img[width],
.detail img[height]{max-width:none;}
.detail + .detail{margin-top:1em;}

/*上传控件*/
div.noshow {
    visibility: hidden;
    display: none;
}

body > .sys-result {
    height: 36px;
    line-height: 36px;
    border: solid 1px #eceef1;
}

    body > .sys-result > span {
        margin-left: 4px;
        float: left;
        color: red;
    }

    body > .sys-result > a {
        margin-right: 4px;
        float: right;
        text-decoration: none;
        color: blue;
    }


 