@using Dos.ORM.WebPC.App_Common.Mvc
@{
    ViewBag.Title = "日志信息管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @*@Html.ExtAuthBtn()*@
    </div>
    <div class="row">
       
        该功能暂未开放......
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'LogId';



    function ModuleQuery(data)
    {
        //alert("查询数据" + JSON.stringify(data));
    }


</script>
