@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录过期</title>
    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <link href="~/Content/Components/Animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    @Styles.Render("~/MsSys/CssTheme")
    <script src="~/Content/Js/Base/base.core.js"></script>
    <script>
        var secCount = 4,
          intervalid = setInterval('setSec()', 1000);

        function setSec() {
            if (secCount === 0) {
                gotoLogin();
                clearInterval(intervalid);
            }
            document.getElementById('secPanel').innerHTML = secCount;
            secCount--;
        }

        function gotoLogin() {
            parent.location.href = '/MsSys/Login';
        }

        $(function () {
            QBO.com.setCenter('.timeout-main', 500, 80);
        });
    </script>
</head>
<body>
    <div class="timeout-main">
        <div class="timeout-one">
            <i class="fa fa-info-circle"></i>
            当前登录已失效，请重新登录！
        </div>
        <div class="timeout-two">
            <i class="fa fa-info-circle"></i>
            将在<span id="secPanel">5</span>秒后跳转至<a href="javascript:gotoLogin();" title="点击跳转至登陆页">登陆页</a>
        </div>
    </div>
</body>
</html>
