*.agdai
/RazorPagesIntro/.vs/RazorPagesIntro/v15/Server/sqlite3
/RazorPagesIntro/.vs/RazorPagesIntro/v15
/数据保护/.vs/数据保护/v15/Server/sqlite3/db.lock
/数据保护/.vs/数据保护/v15/Server/sqlite3
/数据保护/.vs
/密码哈希/.vs/密码哈希/v15
/限制受保护的负载的生存期/.vs/限制受保护的负载的生存期/v15/Server/sqlite3
/取消保护已撤销其密匙的负载/.vs/取消保护已撤销其密匙的负载/v15/Server/sqlite3
/单例测试/.vs/单例测试/v15/Server/sqlite3
/内存缓存/.vs/内存缓存/v15
/分布式缓存/.vs/分布式缓存/v15/Server/sqlite3
/ESon/.vs/ESon/v15/Server/sqlite3
