@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "项目管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @Html.ExtAuthBtn()
    </div>
    <div class="row">
        项目名称：@Html.ExtTextBox("txtProjName", new { width = 100 })
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'ID';

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            url: '/MsManage/Project/GetList',
            idField: gdKeyId,
            treeField: 'Name',
            pageSize: 1000,
            col: [
                { field: gdKeyId, checkbox: true },
                { field: 'Name', title: '模块名称', width: 200, sortable: true },
                { field: 'OrderNum', title: '排序', width: 200, align: 'center', sortable: true },
                { field: 'IsEnabled', title: '是否启用', width: 80, align: 'center', formatter: QBO.plu.grid.formatIf }
            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function () { gridObj.treegrid('collapseAll'); }
        }, 'tg');
    }

    function initEvent() {
        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
    }

    function doHanlder(type) {

        switch (type) {
            case 'view':
                var selectedObj = QBO.plu.grid.get(gridObj, gdKeyId).obj;
                if (selectedObj[0]._parentId == null)
                    QBO.frm.doPage('view', { title: '查看项目', url: '/MsManage/Project/Detail?isProj=true', width: 690, height: 400, dgObj: gridObj, keyId: gdKeyId });
                else
                    QBO.frm.doPage('view', { title: '查看试验室', url: '/MsManage/Project/Detail?isProj=false', width: 810, height: 540, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'modify':
                var selectedObj = QBO.plu.grid.get(gridObj, gdKeyId).obj;
                if (selectedObj[0]._parentId == null)
                    QBO.frm.doPage('modify', { title: '修改项目', url: '/MsManage/Project/Detail?isProj=true', width: 690, height: 400, dgObj: gridObj, keyId: gdKeyId });
                else
                    QBO.frm.doPage('modify', { title: '修改试验室', url: '/MsManage/Project/Detail?isProj=false', width: 810, height: 540, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'search':
                queryData();
                break;
        }
    }

    //查询数据
    function queryData() {
        QBO.plu.grid.query(gridObj, {
            ProjName: $('#txtProjName').textbox('getValue')
        }, 'tg');
    }
</script>
