@using Dos.ORM.WebPC.App_Common.Mvc
@model Dos.ORM.Model.System.SYS_LogType
@{
    ViewBag.Title = "日志类型管理";
    Layout = "~/Views/BasePage/_LayoutMsSysDetailSingle.cshtml";
}
<form class="easyui-form" id="frmMain" method="post">
    <table class="frm-tb">
        <tbody>
            <tr>
                <td>类型名称：</td>
                <td>
                    @Html.ExtTextBoxFor(m => m.LogTypeName, new { required = true, width = 300, validType = "maxLength[100]" })
                </td>
            </tr>
            <tr>
                <td>类型描述：</td>
                <td>@Html.ExtTextBoxFor(m => m.Desc, new { validType = "maxLength[200]", width = 300, multiline = true })</td>
            </tr>
        </tbody>
    </table>
</form>
<script>
    var thisForm, oType = '@ViewBag.oType';

    $(function () {
        initData();
        //initEvent();
    });

    function initData() {
        thisForm = $('#frmMain');
    }

    function saveData() {
        QBO.frm.submit(thisForm, {
            url: '/MsSys/LogType/SaveData',
            onSubmit: function (param) {
                //增加额外参数
                param.oType = oType;
                param.keyId = '@ViewBag.keyId';
            },
            success: function (data) {
                QBO.dia.msg(data.Msg, {
                    icon: data.Result === 100 ? 'right' : 'error',
                    endCallback: function () {
                        if (data.Result === 100) { QBO.frm.closeWin(function () { QBO.frm.getWin().reloadGridData(); }); }
                    }
                });
            }
        });
    }
</script>