@using Dos.ORM.WebPC.App_Common.Mvc
@{
    ViewBag.Title = "日志类型管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<div id="toolBarMain" class="list-toolbar">
    <div class="row">
      
    </div>
    <div class="row">
        日志类型名称：@Html.ExtTextBox("txtKeyName", new { width = 100 })
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'LogTypeId',
        isAdmin = @ViewBag.AccountType<3;

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        if (isAdmin) {
            $('#lbtnAdd,#lbtnModify,#lbtnDelete').linkbutton('disable');
        }

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            url: '/MsSys/LogType/GetList',
            col: [
                { field: gdKeyId, checkbox: true },
                { field: 'LogTypeName', title: '日志类型名称', width: 200, sortable: true },
                { field: 'Desc', title: '日志类型描述', width: 200 },
                { field: 'CrtTime', title: '添加时间', width: 200, sortable: true }
            ],
            toolbar: 'toolBarMain'
        });
    }

    function initEvent() {
        $('#lbtnAdd').linkbutton({ onClick: function () { doHanlder('add'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });
        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'add':
                QBO.frm.doPage('add', { title: '添加日志类型', url: '/MsSys/LogType/Detail' , width: 500, height: 270});
                break;
            case 'modify':
                QBO.frm.doPage('modify', { title: '修改日志类型', url: '/MsSys/LogType/Detail', width: 500, height: 270, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'view':
                QBO.frm.doPage('view', { title: '查看日志类型', url: '/MsSys/LogType/Detail', width: 500, height: 270, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'search':
                queryData();
                break;
            case 'delete':
                QBO.frm.doPage('delete', { url: '/MsSys/LogType/DeleteData', dgObj: gridObj, keyId: gdKeyId });
                break;
        }
    }

    function queryData() {
        QBO.plu.grid.query(gridObj, {
            keyName: $('#txtKeyName').textbox('getValue')
        });
    }
</script>
