@{
    ViewBag.Title = "AccessIndex2";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<script src="~/Content/Js/Module/Business/functions.js"></script>
<div id="toolBarMain" class="list-toolbar">

    <div class="row">

        试验类型:
        @*<input id="F_TypeCode" class="easyui-combobox"
               data-options="valueField: 'id',textField: 'text',data:selData,onSelect:queryData" />*@

        <select id="F_TypeCode" onchange="queryData()"
                style="width:120px;padding: 5px 2px;line-height: 1.2; background-color: #fff; border: 1px solid #ccc;">
            <option value="'100047','1','8','JSLS','GJYC','GJYCCJ','GJJ'" selected>钢筋试验</option>
            <option value="'100048','2','9','GJJT','GJHJCJ','GHJ'">钢筋焊接</option>
            <option value="'100049','3','GJJXLJCJ','GJX'">机械连接</option>
        </select>

        试验日期: <input id="F_StartDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />

        至:<input id="F_EndDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />

        样品编号:<input id="F_SampleNum" class="easyui-textbox" data-options="type:'text',required:false,isShowFill:true,width:120,height:28,tipPosition:'right',readonly:false,buttonAlign:'right',multiline:false,iconAlign:'right',disabled:false" />

        工程部位用途：<input id="F_PlacePurpose" class="easyui-textbox" data-options="type:'text',required:false,isShowFill:true,width:120,height:28,tipPosition:'right',readonly:false,buttonAlign:'right',multiline:false,iconAlign:'right',disabled:false" />

        牌号：<input id="F_MarkNum" class="easyui-textbox" data-options="type:'text',required:false,isShowFill:true,width:60,height:28,tipPosition:'right',readonly:false,buttonAlign:'right',multiline:false,iconAlign:'right',disabled:false" />

        <a href="javascript:;" class="easyui-linkbutton" id="lbtnSearch" data-options="iconCls:'fa fa-search-plus',plain:false">查询</a>

    </div>
</div>


<script type="text/javascript">

    //var selData = [{
    //    id: "'100047'",
    //    text: "钢筋试验",
      
    //}, {
    //    id: "'100048'",
    //    text: "钢筋焊接"
    //}, {
    //    id: "'100049'",
    //    text: "机械连接"
    //}]

    var gridObj, gdKeyId = 'ID';

    var paramsData = {
        "LoadApi": '@ViewBag.LoadApi',
        "OrganID": '@ViewBag.TargetId',
        "TableType": 1,
        "TypeCode": "'100047','100048','100049'",
        "StartDate": "",
        "EndDate": "",
        "SampleNum": "",
        "PlacePurpose": "",
        "MarkNum": ""
    }

    $(function () {
       
        SetTime();
        initData();
        initEvent();
    });


    function SetTime() {
        var curr_time = new Date();
        $('#F_StartDate').datebox('setValue', dateformatter(curr_time));
        var next_time = DateAdd("m ", 1, curr_time);
        $('#F_EndDate').datebox('setValue', dateformatter(next_time));
    };

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        paramsData.LoadApi = 1;
        paramsData.OrganID = data.TargetId;
        queryData();
    }


    //查询数据
    function queryData() {

        paramsData.TypeCode = $('#F_TypeCode').val();
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');
        paramsData.SampleNum = $('#F_SampleNum').textbox('getValue');
        paramsData.PlacePurpose = $('#F_PlacePurpose').textbox('getValue');
        paramsData.MarkNum = $('#F_MarkNum').textbox('getValue');

        QBO.plu.grid.query(gridObj, paramsData);
    }

    function initData() {
        gridObj = $('#dg');
        paramsData.TypeCode = $('#F_TypeCode').val();
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            queryParams: paramsData,
            //method:'GET',
            pageSize: 30,
            singleSelect: true,
            url: '/MsSys/AccessDB/GetAccessData',
            colFro: [
                {
                    field: 'SJBH', title: '样品编号', width: 180, align: 'center',
                    formatter: function (value, row, index) {
                        var r_value = "<a href=\'#\' style=\'color:#31b0d5\' onclick=\'ViewWin(\"" + row.SYLX + "\",\"" + row.SYJID + "\",\"" + row.URL + "\")\'>" + value + "</a>";
                        return r_value
                    }
                }
            ],
            col: [
                //{ field: 'SYLX', title: '试验类型', width: 300 },
                { field: 'CJMC', title: '工程部位用途', width: 300 },
                { field: 'PZBM', title: '牌号', width: 120, align: 'center' },
                { field: 'GCZJ', title: '公称直径(mm)', width: 120, align: 'center' },
                { field: 'Field1', title: '屈服强度(MPa)', width: 180, formatter: formatMPa },
                { field: 'Field2', title: '极限强度(MPa)', width: 180 },

                { field: 'SYRQ', title: '试验日期', width: 100, align: 'center', formatter: QBO.plu.grid.formatShortDate },
                { field: 'Oper', title: '操作', width: 100, align: 'center', formatter: formatOper },
                //{ field: 'QFLZ', title: '屈服强度', width: 150 },
                //{ field: 'KYLZ', title: '极限强度', width: 150 },

            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function (data) {
                if (paramsData.TypeCode == "'100047'") {
                    gridObj.datagrid("showColumn", "Field1"); // 设置隐藏列
                } else {
                    gridObj.datagrid("hideColumn", "Field1"); // 设置隐藏列
                }
                $("span.eui-opt-acc").imgPreview();
            }
        });
    }

    function initEvent() {
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'search':
                queryData();
                break;
        }
    }


    //查看
    function ViewWin(type, id, url) {

        //"'100047','100048','100049'",

        var page = "";

        if (type == "100047"||type == "1"||type == "8"||type == "JSLS"||type == "GJYC"||type == "GJYCCJ"||type == "GJJ") {
            page = "KY_GJ.aspx";
        }
        else if (type == "100048"||type == "2"||type == "9"||type == "GJJT"||type == "GJHJCJ"||type == "GHJ") {
            page = "KY_GJHJ.aspx";
        }
        if (type == "100049"||type == "3"||type == "GJJXLJCJ"||type == "GJX") {
            page = "KY_GJJX.aspx";
        }

        if (page != "") {
            var newurl = url + "/Module/Caiji/" + page + "?syjid=" + id + "&sylx=" + type;
            QBO.frm.openWin(newurl, { title: '查看详细', isFull: true });
        }
    }


    function formatOper(value, row, index) {
        var name = "<i class=\'fa fa-file-text-o\' title=\'查看\' style=\'color: rgb(80, 185, 255);\'></i>"

        var R_Value = "<a href=\'#\' onclick=\'ViewWin(\"" + row.SYLX + "\",\"" + row.SYJID + "\",\"" + row.URL + "\")\'>" + name + "</a>";

        return R_Value;

    }

    //屈服强度-极限强度(MPa)
    function formatMPa(value, row, index) {

        var r_value1 = "";
        var r_value2 = "";

        try {
            var sylx = row.SYLX;//试验类型
            var kylz = row.KYLZ;//极限强度  910.6，824.5，739.8
            var qflz = row.QFLZ;//屈服强度
            var GCZJ = row.GCZJ;//公称直径

            var area;
            var tempgs = (sylx == "100047" ? 1 : 0);
            var d = parseFloat(GCZJ);
            if (d > 0) {
                area = (GetDataOddIncreaseEvenDecrease(3.1415926 * d * d / 4, -4) - 0).toPrecision(4);
            }
            else {
                area = "/";
            }

            //抗拉荷载
            if (qflz !== null && qflz !== undefined && qflz !== '') {

                var arr_qflz = qflz.split('，');

                for (var i = 0; i < arr_qflz.length; i++) {

                    var f = parseFloat(arr_qflz[i]);
                    var p = "";
                    if (area > 0) {
                        if (f > 0) {
                            p = f * 1000 / area / 10;
                            if (tempgs == "1") {
                                p = GetDataOddIncreaseEvenDecrease(p, -1)
                            }
                            else {
                                if (p <= 20)//非200是前面除了10
                                {
                                    p = GetDataOddIncreaseEvenDecrease(p, -1)
                                }
                                else if (p > 20 && p <= 100) {
                                    p = GetDataFiveRule(p, -1);
                                }
                                else {
                                    p = GetDataOddIncreaseEvenDecrease(p, 2)
                                }
                            }
                            p = p * 10;
                        }
                        else {
                            p = "/";
                        }

                        if (isNaN(p)) p = "/";

                    }

                    r_value1 += (r_value1 == "" ? "" : "&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;") + p;
                }
            }
            else {
                r_value1 = " ";
            }



            //屈服荷载
            if (kylz !== null && kylz !== undefined && kylz !== '') {

                var arr_kylz = kylz.split('，');

                for (var i = 0; i < arr_kylz.length; i++) {

                    var f = parseFloat(arr_kylz[i]);
                    var p = "";
                    if (area > 0) {
                        if (f > 0) {
                            p = f * 1000 / area / 10;
                            if (tempgs == "1") {
                                p = GetDataOddIncreaseEvenDecrease(p, -1)
                            }
                            else {
                                if (p <= 20)//非200是前面除了10
                                {
                                    p = GetDataOddIncreaseEvenDecrease(p, -1)
                                }
                                else if (p > 20 && p <= 100) {
                                    p = GetDataFiveRule(p, -1);
                                }
                                else {
                                    p = GetDataOddIncreaseEvenDecrease(p, 2)
                                }
                            }
                            p = p * 10;
                        }
                        else {
                            p = "/";
                        }

                        if (isNaN(p)) p = "/";

                    }

                    r_value2 += (r_value2 == "" ? "" : "&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;") + p;

                }

            }
            else {
                r_value2 = "";
            }


        } catch (e) {
            r_value1 = "";
            r_value2 = "";
        }

        row.Field1 = r_value1;
        row.Field2 = r_value2;

        return r_value1;
    }



</script>

@*扩展定义*@
<script type="text/javascript">

    function dateformatter(date) {
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
    }

    function DateAdd(interval, number, date) {
        /*
          *   功能:实现VBScript的DateAdd功能.
          *   参数:interval,字符串表达式，表示要添加的时间间隔.
          *   参数:number,数值表达式，表示要添加的时间间隔的个数.
          *   参数:date,时间对象.
          *   返回:新的时间对象.
          *   var   now   =   new   Date();
          *   var   newDate   =   DateAdd( "d ",5,now);
          *---------------   DateAdd(interval,number,date)   -----------------
          */
        switch (interval) {
            case "y ": {
                date.setFullYear(date.getFullYear() + number);
                return date;
                break;
            }
            case "q ": {
                date.setMonth(date.getMonth() + number * 3);
                return date;
                break;
            }
            case "m ": {
                date.setMonth(date.getMonth() + number);
                return date;
                break;
            }
            case "w ": {
                date.setDate(date.getDate() + number * 7);
                return date;
                break;
            }
            case "d ": {
                date.setDate(date.getDate() + number);
                return date;
                break;
            }
            case "h ": {
                date.setHours(date.getHours() + number);
                return date;
                break;
            }
            case "m ": {
                date.setMinutes(date.getMinutes() + number);
                return date;
                break;
            }
            case "s ": {
                date.setSeconds(date.getSeconds() + number);
                return date;
                break;
            }
            default: {
                date.setDate(d.getDate() + number);
                return date;
                break;
            }
        }
    }


</script>