@{
    ViewBag.Title = "AccessIndex3";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<script src="~/Content/Js/Module/Business/functions.js"></script>
<div id="toolBarMain" class="list-toolbar">

    <div class="row">
        试验类型:
        @*<select id="F_TypeCode" class="easyui-combobox" style="width:120px;">
            <option value="'100136'" selected>水泥胶砂</option>
            <option value="'100134'">水泥净浆</option>            
        </select>*@ 

        <select id="F_TypeCode" onchange="queryData()"
                style="width:120px;padding: 5px 2px;line-height: 1.2; background-color: #fff; border: 1px solid #ccc;">
            <option value="'100136','82','SNKZ','100135','62','SNKY'" selected>水泥胶砂</option>
            <option value="'100134','69','SNJJKY','SNJJKZ'">水泥净浆</option>          
        </select>

             
        试验日期: <input id="F_StartDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />

        至:<input id="F_EndDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />
        
        样品编号：<input id="F_SampleNum" class="easyui-textbox" data-options="type:'text',required:false,isShowFill:true,width:120,height:28,tipPosition:'right',readonly:false,buttonAlign:'right',multiline:false,iconAlign:'right',disabled:false" />
       
        工程部位用途：<input id="F_PlacePurpose" class="easyui-textbox" data-options="type:'text',required:false,isShowFill:true,width:120,height:28,tipPosition:'right',readonly:false,buttonAlign:'right',multiline:false,iconAlign:'right',disabled:false" />
      
        强度等级：<input id="F_StrengthGrade" class="easyui-textbox" data-options="type:'text',required:false,isShowFill:true,width:60,height:28,tipPosition:'right',readonly:false,buttonAlign:'right',multiline:false,iconAlign:'right',disabled:false" />
              
        龄期(天)：<input id="F_AgeDays" class="easyui-numberbox" data-options="type:'text',required:false,isShowFill:true,width:60,height:28,tipPosition:'right',readonly:false,buttonAlign:'right',multiline:false,iconAlign:'right',disabled:false,min:0,precision:0">
      
        <a href="javascript:;" class="easyui-linkbutton" id="lbtnSearch" data-options="iconCls:'fa fa-search-plus',plain:false">查询</a>

    </div>
</div>


<script type="text/javascript">
    var gridObj, gdKeyId = 'ID';
    var paramsData = {
        "LoadApi": '@ViewBag.LoadApi',
        "OrganID": '@ViewBag.TargetId',
        "TableType": 0,
        "TypeCode": "'100134','100135','100136'",
        "StartDate": "",
        "EndDate": "",
        "SampleNum": "",
        "PlacePurpose": "",
        "StrengthGrade": "",
        "AgeDays": "",
    }

    $(function () {
        SetTime();
        initData();
        initEvent();
    });


    function SetTime() {
        var curr_time = new Date();
        $('#F_StartDate').datebox('setValue', dateformatter(curr_time));
        var next_time = DateAdd("m ", 1, curr_time);
        $('#F_EndDate').datebox('setValue', dateformatter(next_time));
    };

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        paramsData.LoadApi = 1;
        paramsData.OrganID = data.TargetId;
        queryData();
    }


    //查询数据
    function queryData() {
        paramsData.TypeCode = $('#F_TypeCode').val();
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');
        paramsData.SampleNum = $('#F_SampleNum').textbox('getValue');
        paramsData.PlacePurpose = $('#F_PlacePurpose').textbox('getValue');
        paramsData.StrengthGrade = $('#F_StrengthGrade').textbox('getValue');
        paramsData.AgeDays = $('#F_AgeDays').numberbox('getValue');
               
        QBO.plu.grid.query(gridObj, paramsData);

    }

   
    function initData() {
        gridObj = $('#dg');

        paramsData.TypeCode = $('#F_TypeCode').val();
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            queryParams: paramsData,
            //method:'GET',
            pageSize: 30,
            singleSelect: true,
            url: '/MsSys/AccessDB/GetAccessData',
            colFro: [               
                 {
                     field: 'SJBH', title: '样品编号', width: 180, align: 'center',
                     formatter: function (value, row, index) {
                         var r_value = "<a href=\'#\' style=\'color:#31b0d5\' onclick=\'ViewWin(\"" + row.SYLX + "\",\"" + row.SYJID + "\",\"" + row.URL + "\")\'>" + value + "</a>";
                         return r_value
                     }
                 }
            ],
            col: [
                { field: 'CJMC', title: '工程部位用途', width: 300 },
                { field: 'SJQD', title: '强度等级', width: 100, align: 'center' },
                { field: 'LQ', title: '龄期(天)', width: 100, align: 'center' },
                { field: 'SJCC', title: '试件尺寸(mm)', width: 150 },
                { field: 'Field1', title: '抗折强度(MPa)', width: 100, formatter: formatMPa },
                { field: 'Field2', title: '抗压强度(MPa)', width: 100 },
                { field: 'SYRQ', title: '试验日期', width: 100, align: 'center', formatter: QBO.plu.grid.formatShortDate },
                { field: 'Oper', title: '操作', width: 100, align: 'center', formatter: formatOper }                 
            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function (data) {                         
                $("span.eui-opt-acc").imgPreview();
            }
        });
    }

    function initEvent() {
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'search':
                queryData();
                break;
        }
    }


    //查看  
    function ViewWin(type, id, url) {

        //'100134','100135','100136'

        var page = "";

        if (type == "100134") {
            page = "";
        }
        else if (type == "100135"||type == "62"||type == "SNKY") {
            page = "KY_JSKZ.aspx";
        }
        if (type == "100136"||type == "82"||type == "SNKZ") {
            page = "KY_JSKZ.aspx";
        }
    
        if (page != "") {
            var newurl = url + "/Module/Caiji/" + page + "?syjid=" + id + "&sylx=" + type;
            QBO.frm.openWin(newurl, { title: '查看详细', isFull: true });
        }
    }


    function formatOper(value, row, index) {
        var name = "<i class=\'fa fa-file-text-o\' title=\'查看\' style=\'color: rgb(80, 185, 255);\'></i>"

        var R_Value = "<a href=\'#\' onclick=\'ViewWin(\"" + row.SYLX + "\",\"" + row.SYJID + "\",\"" + row.URL + "\")\'>" + name + "</a>";

        return R_Value;

    }

    //抗折强度-抗压强度(MPa)
    function formatMPa(value, row, index) {

        var r_value1 = "";
        var r_value2 = "";
      
        try {

            var kylz = row.KYLZ;//荷载值5.31，5.32，5.49，    42.05，40，42.69，42.34，42.72，42.47
           
            if (kylz !== null && kylz !== undefined && kylz !== '') {
                var arr_kylz = kylz.split('，');
				if (arr_kylz.length == 3) {
					var arr1_1 = new Array(3);
					for (var i = 0; i < 3; i++)
					{						
						arr1_1[i]=parseFloat(arr_kylz[i]);						
					}
					var avg1 = GetDataOddIncreaseEvenDecrease((arr1_1[0] + arr1_1[1] + arr1_1[2]) / 3.0, -1);
					r_value1=avg1;
				}
                else if (arr_kylz.length == 9) {
                               
                    var avg1 = 0;
                    var avg2 = 0;

                    var arr1_1 = new Array(3);//前3个抗折
                    var arr1_2 = new Array(3);
                    
                    var arr2_1 = new Array(6);//后6个抗压
                    var arr2_2 = new Array(6);
                    var arr2_3 = new Array(6);
                    var arr2_4 = new Array(6);

                    for (var i = 0; i < 9; i++)
                    {       
                        if (i <= 2)
                        {
                            //arr1_1[i] = GetDataOddIncreaseEvenDecrease((parseFloat(arr_kylz[i]) * 1.5 * 100), -1);
                            arr1_1[i]=parseFloat(arr_kylz[i]);
                            //console.log(arr_kylz[i] + ' ' + arr1_1[i]);
                        }
                        else if(i >=3) 
                        {
                            arr2_1[i - 3] = GetDataOddIncreaseEvenDecrease((parseFloat(arr_kylz[i]) * 1000 / 1600), -1);
                            //console.log(arr_kylz[i] + ' ' + arr2_1[i - 3]);
                        } 
                    }

                    //前3个抗折
                    avg1 = GetDataOddIncreaseEvenDecrease((arr1_1[0] + arr1_1[1] + arr1_1[2]) / 3.0, -1);
                    arr1_2[0] = Math.abs(arr1_1[0] - avg1);
                    arr1_2[1] = Math.abs(arr1_1[1] - avg1);
                    arr1_2[2] = Math.abs(arr1_1[2] - avg1);
                                       
                    var max1 = Max(arr1_2);
                    if (max1 <= 0.1 * avg1)
                    {
                        r_value1 = avg1;
                    }
                    else {
                        var m = -1;
                        for (n = 0; n < 3; n++) {
                            if (max1 == arr1_2[n]) {
                                m = n;
                                break;
                            }
                        }
                        avg1 = GetDataOddIncreaseEvenDecrease((SumAll(arr1_1) - arr1_1[m]) / 2, -1);
                        r_value1 = avg1;
                    }

                    if (isNaN(r_value1))
                    {
                        r_value1 = "";
                    }

                    //后6个抗压
                    avg2 = GetDataOddIncreaseEvenDecrease(SumAll(arr2_1) / 6.0, -1);
                    arr2_2[0] = Math.abs(arr2_1[0] - avg2);
                    arr2_2[1] = Math.abs(arr2_1[1] - avg2);
                    arr2_2[2] = Math.abs(arr2_1[2] - avg2);
                    arr2_2[3] = Math.abs(arr2_1[3] - avg2);
                    arr2_2[4] = Math.abs(arr2_1[4] - avg2);
                    arr2_2[5] = Math.abs(arr2_1[5] - avg2);

                    var max2 = Max(arr2_2);
                    if (max2 <= 0.1 * avg2)
                    {
                        r_value2 = avg2;
                    }
                    else {
                        var kk=0
                        for (var k = 0; k < 6; k++) {
                            if (max2 == arr2_2[k]) {
                                continue;
                            }
                            else {
                                arr2_3[kk] = arr2_1[k];
                                kk++;
                            }
                        }
                        avg2 = GetDataOddIncreaseEvenDecrease(SumAll(arr2_3) / 5, -1);
                        arr2_4[0] = Math.abs(arr2_3[0] - avg2);
                        arr2_4[1] = Math.abs(arr2_3[1] - avg2);
                        arr2_4[2] = Math.abs(arr2_3[2] - avg2);
                        arr2_4[3] = Math.abs(arr2_3[3] - avg2);
                        arr2_4[4] = Math.abs(arr2_3[4] - avg2);
                        
                        var max3 = Max(arr2_4);
                        if (max3 <= 0.1 * avg2) {
                            r_value2 = avg2;
                        }
                        else {
                            r_value2 = "";
                        }
                        
                    }

                    if (isNaN(r_value2)) {
                        r_value2 = "";
                    }
                }
				else if(arr_kylz.length == 6) 
				{
					var arr2_1 = new Array(6);
					var arr2_2 = new Array(6);
					var arr2_3 = new Array(6);
					var arr2_4 = new Array(6);
					for (var i = 0; i < 6; i++) 
					{
						arr2_1[i] = GetDataOddIncreaseEvenDecrease((parseFloat(arr_kylz[i]) * 1000 / 1600), -1);
					}
					var avg2 = GetDataOddIncreaseEvenDecrease(SumAll(arr2_1) / 6.0, -1);
                    arr2_2[0] = Math.abs(arr2_1[0] - avg2);
                    arr2_2[1] = Math.abs(arr2_1[1] - avg2);
                    arr2_2[2] = Math.abs(arr2_1[2] - avg2);
                    arr2_2[3] = Math.abs(arr2_1[3] - avg2);
                    arr2_2[4] = Math.abs(arr2_1[4] - avg2);
                    arr2_2[5] = Math.abs(arr2_1[5] - avg2);

					var max2 = Max(arr2_2);
                    if (max2 <= 0.1 * avg2)
                    {
                        r_value2 = avg2;
                    }
                    else {
                        var kk=0
                        for (var k = 0; k < 6; k++) {
                            if (max2 == arr2_2[k]) {
                                continue;
                            }
                            else {
                                arr2_3[kk] = arr2_1[k];
                                kk++;
                            }
                        }
                        avg2 = GetDataOddIncreaseEvenDecrease(SumAll(arr2_3) / 5, -1);
                        arr2_4[0] = Math.abs(arr2_3[0] - avg2);
                        arr2_4[1] = Math.abs(arr2_3[1] - avg2);
                        arr2_4[2] = Math.abs(arr2_3[2] - avg2);
                        arr2_4[3] = Math.abs(arr2_3[3] - avg2);
                        arr2_4[4] = Math.abs(arr2_3[4] - avg2);
                        
                        var max3 = Max(arr2_4);
                        if (max3 <= 0.1 * avg2) {
                            r_value2 = avg2;
                        }
                        else {
                            r_value2 = "";
                        }
                        
                    }

                    if (isNaN(r_value2)) {
                        r_value2 = "";
                    }
				}
				else {
                    r_value1 = "";
                    r_value2 = "";
                }
            }
            else {
                r_value1 = "";
                r_value2 = "";
            }
        } catch (e) {
            r_value1 = "";
            r_value2 = "";
        }

        row.Field1 = r_value1;
        row.Field2 = r_value2;       

        return r_value1;
    }


</script>

@*扩展定义*@
<script type="text/javascript">

    function dateformatter(date) {
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
    }

    function DateAdd(interval, number, date) {
        /*
          *   功能:实现VBScript的DateAdd功能.
          *   参数:interval,字符串表达式，表示要添加的时间间隔.
          *   参数:number,数值表达式，表示要添加的时间间隔的个数.
          *   参数:date,时间对象.
          *   返回:新的时间对象.
          *   var   now   =   new   Date();
          *   var   newDate   =   DateAdd( "d ",5,now);
          *---------------   DateAdd(interval,number,date)   -----------------
          */
        switch (interval) {
            case "y ": {
                date.setFullYear(date.getFullYear() + number);
                return date;
                break;
            }
            case "q ": {
                date.setMonth(date.getMonth() + number * 3);
                return date;
                break;
            }
            case "m ": {
                date.setMonth(date.getMonth() + number);
                return date;
                break;
            }
            case "w ": {
                date.setDate(date.getDate() + number * 7);
                return date;
                break;
            }
            case "d ": {
                date.setDate(date.getDate() + number);
                return date;
                break;
            }
            case "h ": {
                date.setHours(date.getHours() + number);
                return date;
                break;
            }
            case "m ": {
                date.setMinutes(date.getMinutes() + number);
                return date;
                break;
            }
            case "s ": {
                date.setSeconds(date.getSeconds() + number);
                return date;
                break;
            }
            default: {
                date.setDate(d.getDate() + number);
                return date;
                break;
            }
        }
    }


</script>