@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person</title>
</head>
<body>
    <div class="person-row">
        <a class="person-nav" href="javascript:;" id="lbtnPerson"><i class="fa fa-user"></i><span>个人中心</span></a>
        <a class="person-nav" href="javascript:;" id="lbtnPwd"><i class="fa fa-key"></i><span>修改密码</span></a>
        <a class="person-nav" href="javascript:;" id="lbtnPhoto"><i class="fa fa-file-photo-o"></i><span>修改头像</span></a>
        <a class="person-nav" href="javascript:;" id="lbtnCache"><i class="fa fa-trash-o"></i><span>清空缓存</span></a>
        <div class="person-sep"></div>
        <a class="person-nav" href="javascript:;" id="lbtnLock"><i class="fa fa-lock"></i><span>安全锁屏</span></a>
        <div class="person-sep"></div>
        <a class="person-nav" href="javascript:;" id="lbtnExit"><i class="fa fa-power-off"></i><span>退出系统</span></a>
    </div>
</body>
</html>