@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "角色管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @Html.ExtAuthBtn()
    </div>
    <div class="row">
        @{
            if (ViewBag.IsSuperAdmin)
            {
                <text>所属公司：</text>
                @Html.ExtComboTree("CompanyId", new { width = 100, url = "/MsSys/Company/GetChooseCompanys", queryParams = "{type:1}", onClick = "companyChg" })
            }
        }
        角色名称：@Html.ExtTextBox("txtKeyName", new { width = 100 })
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'RoleId';

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            url: '/MsSys/Role/GetList',
            col: [
                { field: gdKeyId, checkbox: true },
                { field: 'RoleName', title: '角色名称', width: 200, sortable: true },
                { field: 'Desc', title: '角色描述', width: 200 },
                { field: 'IsEnable', title: '是否启用', width: 80, align: 'center', formatter: QBO.plu.grid.formatIf },
                { field: 'CrtTime', title: '添加时间', width: 200, sortable: true }
            ],
            toolbar: 'toolBarMain'
        });
    }

    function initEvent() {
        $('#lbtnSelect').tooltip({ content: '设置角色人员', position: 'right' });

        $('#lbtnAdd').linkbutton({ onClick: function () { doHanlder('add'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });
        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
        $('#lbtnSelect').linkbutton({ onClick: function () { doHanlder('select'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'add':
                QBO.frm.doPage('add', { title: '添加角色', url: '/MsSys/Role/Detail', width: 700 });
                break;
            case 'modify':
                QBO.frm.doPage('modify', { title: '修改角色', url: '/MsSys/Role/Detail', width: 700, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'view':
                QBO.frm.doPage('view', { title: '查看角色', url: '/MsSys/Role/Detail', width: 700, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'search':
                queryData();
                break;
            case 'delete':
                QBO.frm.doPage('delete', { url: '/MsSys/Role/DeleteData', dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'select':
                selectData();
                break;
        }
    }

    //设置角色人员
    function selectData() {
        if (QBO.plu.grid.get(gridObj, gdKeyId).obj.length <= 0) {
            QBO.dia.msg('请勾选需要设置人员的角色！', { shift: 6, icon: 'error', time: 2000 });
            return;
        }

        QBO.frm.openWin('/MsSys/Role/SelectOperator', { title: '选择人员', icon: 'users', width: 700, height: 450 });
    }

    function companyChg(node) {
        queryData(node.id);
    }

    //查询数据
    function queryData(comId) {
        QBO.plu.grid.query(gridObj, {
            comId: comId,
            keyName: $('#txtKeyName').textbox('getValue')
        });
    }
</script>
