@{
    ViewBag.Title = "BhzSysIndex2";
    Layout = "~/Views/BasePage/_LayoutMsSysEmpty.cshtml";
}

<link href="~/Content/Components/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Components/SemanticUI/semantic.min.css" rel="stylesheet" />
<link href="~/Content/Components/QTip/Css/jquery.qtip.min.css" rel="stylesheet" />
<script src="~/Content/Components/SemanticUI/semantic.min.js"></script>
<script src="~/Content/Components/QTip/Js/jquery.qtip.min.js"></script>
<script src="~/Content/Components/Validator/jquery.validator.min.js?local=zh-CN"></script>
<script src="~/Content/Components/AngularJS/angular.min.js"></script>

<style type="text/css">
    body {
        background-color: #fff;
        font-size: 12px;
    }

    .ibox-title {
        position: absolute;
        height: 10px;
        padding: 10px 10px;
    }

    .ibox-body {
        position: absolute;
        top: 10px;
        width: 100%;
        height: 98%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px 10px;
        margin: 0px 0px;
        background-color: rgb(240, 245, 246);
        display: inline;
    }

    .ibox-bottom {
        position: absolute;
        height: 30px;
        bottom: 50px;
        padding: 5px 5px;
        border-bottom: 0px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-align: left;
    }

    .datagrid-cell-c1-DateBirth {
        width: auto;
        padding: 0 10px;
    }

    .table {
        background-color: #fff;
        margin-bottom: 20px;
    }

    .table caption {
        background-color: #fff;
        font-weight: bold;
    }

    .table th, table td {
        text-align: center;
    }

   .list-group-tip .list-group-item {border-width: 0; border-bottom: 1px dashed #bfbfbf;  margin-bottom: 0;  padding: 5px; }
   .list-group-tip .list-group-item.active { background-color: #e8e8e8; color: inherit; }


</style>

<form id="thisForm" method="post" ng-app="pageApp" ng-controller="pageCtrl">
    <div class="ibox-title">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">
            </div>
        </div>
    </div>
    <div class="ibox-body">

        <table class="table">
            <caption>
                <h5><img src="~/Content/Css/Themes/Images/Design/Default/Com/com_flg.png" />&nbsp;&nbsp;超标参数设置</h5>              
               
            </caption>
            <thead>
                <tr style="text-align: center">
                    <th>
                        <a href="javascript:;" id="showDiv" ng-click="loadItems()" title="复制"><i class="fa fa-files-o" aria-hidden="true"></i></a>  
                    </th>
                    <th style="color:blue;">
                        第1级
                    </th>
                    <th style="color:blueviolet;">
                        第2级
                    </th>
                    <th style="color:orange;">
                        第3级
                    </th>
                    <th style="color:red;">
                        第4级
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>水(%)</th>
                    <td>
                        <input name="One_S" class="txt-main" ng-model="model.One_S" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Two_S" class="txt-main" ng-model="model.Two_S" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Three_S" class="txt-main" ng-model="model.Three_S" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Four_S" class="txt-main" ng-model="model.Four_S" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                </tr>
                <tr>
                    <th>水泥(%)</th>
                    <td>
                        <input name="One_SN" class="txt-main" ng-model="model.One_SN" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Two_SN" class="txt-main" ng-model="model.Two_SN" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Three_SN" class="txt-main" ng-model="model.Three_SN" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Four_SN" class="txt-main" ng-model="model.Four_SN" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                </tr>
                <tr>
                    <th>骨料(%)</th>
                    <td>
                        <input name="One_GL" class="txt-main" ng-model="model.One_GL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Two_GL" class="txt-main" ng-model="model.Two_GL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Three_GL" class="txt-main" ng-model="model.Three_GL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Four_GL" class="txt-main" ng-model="model.Four_GL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                </tr>            
                <tr>
                    <th>粉煤灰(%)</th>
                    <td>
                        <input name="One_FMH" class="txt-main" ng-model="model.One_FMH" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Two_FMH" class="txt-main" ng-model="model.Two_FMH" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Three_FMH" class="txt-main" ng-model="model.Three_FMH" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Four_FMH" class="txt-main" ng-model="model.Four_FMH" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                </tr>
                <tr>
                    <th>矿粉(%)</th>
                    <td>
                        <input name="One_KF" class="txt-main" ng-model="model.One_KF" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Two_KF" class="txt-main" ng-model="model.Two_KF" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Three_KF" class="txt-main" ng-model="model.Three_KF" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Four_KF" class="txt-main" ng-model="model.Four_KF" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                </tr>
                <tr>
                    <th>外加剂(%)</th>
                    <td>
                        <input name="One_WJJ" class="txt-main" ng-model="model.One_WJJ" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Two_WJJ" class="txt-main" ng-model="model.Two_WJJ" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Three_WJJ" class="txt-main" ng-model="model.Three_WJJ" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Four_WJJ" class="txt-main" ng-model="model.Four_WJJ" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                </tr>
                <tr>
                    <th>粉料(%)</th>
                    <td>
                        <input name="One_FL" class="txt-main" ng-model="model.One_FL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Two_FL" class="txt-main" ng-model="model.Two_FL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Three_FL" class="txt-main" ng-model="model.Three_FL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                    <td>
                        <input name="Four_FL" class="txt-main" ng-model="model.Four_FL" data-rule="required;integer[+0]" style="width: 120px;height:26px">
                    </td>
                </tr>

            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5" style="text-align:center">
                        <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'fa fa-save',plain:false" ng-click="saveParamData()">保存</a>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!--显示复制 Begin-->
        <div style="display: none;">
            <div id="toolbar_items" class="animated fadeIn" style="height: auto; overflow: auto;">
                <div class="list-group list-group-tip">
                    <a href="javascript:;" class="list-group-item" ng-repeat="item in items" ng-click="selItem(item)">
                        <label class="radio-inline" style="display: block; padding-left: 0;" ng-bind="item.OrganShorName"></label>
                    </a>
                </div>
            </div>
        </div>
        <!--显示复制 End-->

    </div>


</form>

<script type="text/javascript">

    var paramsData = {
        "LoadApi": '@ViewBag.LoadApi',
        "TargetId": "",
        "BhzApi": ""
    }

    $(function () {

    });

    function ModuleQuery(data) {        
        var appElement = document.querySelector('[ng-controller=pageCtrl]');
        var $scope = angular.element(appElement).scope();            
        $scope.paramsData.LoadApi = 1;
        $scope.paramsData.TargetId = data.TargetId;
        $scope.paramsData.BhzApi = data.ExtraData;
        $scope.items = null;
        $scope.$apply();
        $scope.queryData();       
    }


</script>


<script type="text/javascript">

    //初始化Angular
    var pageApp = angular.module('pageApp', []);
    pageApp.controller('pageCtrl', function ($scope, $http, $timeout) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $timeout);
        initNgQuery($scope, $http, $timeout);
    });

    //初始化ng数据
    function initNgData($scope, $http) {
        $scope.paramsData = paramsData;
        $scope.paramsData.TargetId = parent.selData.TargetId;
        $scope.paramsData.BhzApi = parent.selData.ExtraData;

        var idxData = parent.idxData;
        if (idxData.idx_mod1 == 5 && idxData.idx_mod2 == 1) {
            $scope.paramsData.LoadApi = 1;
        } else {
            $scope.paramsData.LoadApi = 0;
        }

        $scope.model = {};     
        $scope.items = null;
    }
   
    //初始化ng事件
    function initNgEvent($scope, $http, $timeout) {
        
        //选择复制
        $scope.selItem = function (item) {   
       
            var paramsItem = {
                "LoadApi": 1,
                "TargetId": item.OrganID,
                "BhzApi":$scope.paramsData.BhzApi
            }

            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: true, url: '/MsSys/BhzSys/GetBhzParmData', params: paramsItem }, function (data) {
                $scope.model = data;
                $scope.model.OrganID = $scope.paramsData.TargetId;
            });

        }
             
        //获取已设置参数的试验室列表
        $scope.loadItems = function () {
            if ($scope.items != null) return;
            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: false, url: '/MsSys/BhzSys/GetParmSetLabs', params: { BhzApi: $scope.paramsData.BhzApi } }, function (data) {
                $scope.items = data;
            });
        };
    
        //加载数据
        $scope.queryData = function () {           
            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: true, url: '/MsSys/BhzSys/GetBhzParmData', params: $scope.paramsData }, function (data) {
                $scope.model = data;
            });
        };

        //保存超标参数设置
        $scope.saveParamData = function () {
            if (!QBO.frm.chkForm("thisForm")) return;

            var model = angular.copy($scope.model);
           
            QBO.plu.ng.http({
                http: $http,
                method: 'POST',
                isLoad: true,
                chkLogin: true,
                url: 'SaveBhzParmData',
                params: { BhzApi: $scope.paramsData.BhzApi },
                data: model
            }, function (result) {

                //console.log(JSON.stringify(result));
                
                QBO.dia.msg(result.Msg, {icon: result.Result === 100 ? 'right' : 'error'});

            });


            return;

            $http({
                method: 'POST',
                url: '/MsSys/BhzSys/SaveBhzParmData',
                params: $scope.paramsData,
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                data: $scope.model
            }, function (data) {
                console.log(data);
                if (data.Result == 200) {
                    alert("保存成功！");
                } else {
                    alert("保存失败(" + data.Msg + ")！");
                }
            });
           

        }

    }

    //初始化ng查询数据
    function initNgQuery($scope, $http, $timeout) {
        var BhzApi = $scope.paramsData.BhzApi;
        if (BhzApi == null || BhzApi == "") {
            return;
        }
        if ($scope.paramsData.LoadApi == 1) {
            $scope.queryData();          
        }
       
    }
  

</script>


<script type="text/javascript">

    $('#showDiv').qtip({
        content: $('#toolbar_items'),
        position: { my: 'top left', at: 'bottom left' },
        show: 'click', hide: 'unfocus',
        style: { classes: 'qtip-bootstrap qtip-rounded qtip-shadow', width: 200 }
    });
 

</script>

