
@{
    ViewBag.Title = "BhzSysIndex1";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}

<div id="toolBarMain" class="list-toolbar">

    <div class="row">

        <a href="javascript:;" class="easyui-linkbutton" id="lbtnAdd" data-options="iconCls:'fa fa-plus-circle',plain:true">添加</a>
        <a href="javascript:;" class="easyui-linkbutton" id="lbtnModify" data-options="iconCls:'fa fa-edit',plain:true">修改</a>
        <a href="javascript:;" class="easyui-linkbutton" id="lbtnDelete" data-options="iconCls:'fa fa-times-circle',plain:true">删除</a>
        <a href="javascript:;" class="easyui-linkbutton" id="lbtnSearch" data-options="iconCls:'fa fa-search-plus',plain:true">查询</a>
                
    </div>

</div>

<script type="text/javascript">

    var gridObj, gdKeyId = 'ID';

    var paramsData = {
        "LoadApi": '@ViewBag.LoadApi',
        "TargetId": "",
        "BhzApi": ""
    }

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        paramsData.LoadApi = 1;
        paramsData.TargetId = data.TargetId;     
        paramsData.BhzApi = data.ExtraData;
        queryData();
    }

    //查询数据
    function queryData() {
        QBO.plu.grid.query(gridObj, paramsData, 'tg');
    }

</script>

<script type="text/javascript">
    
    $(function () {
        paramsData.TargetId = parent.selData.TargetId;
        paramsData.BhzApi = parent.selData.ExtraData;     
        if (paramsData.BhzApi == null || paramsData.BhzApi == "") {
            return;
        }

        var idxData = parent.idxData;
        if (idxData.idx_mod1 == 5 && idxData.idx_mod2 == 0) {
            paramsData.LoadApi = 1;
        } else {
            paramsData.LoadApi = 0;
        }

        initData();
        initEvent();
    });
        
    function initData() {
        gridObj = $('#dg');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            queryParams: paramsData,
            method: "GET",
            url: '/MsSys/BhzSys/GetBhzBhjList',
            idField: gdKeyId,
            treeField: 'BlendName',
            animate: true,
            pagination: false,
            col: [
                { field: gdKeyId, checkbox: true },
                { field: 'BlendName', title: '拌合站/机名称', width: 200 },
                { field: 'BlendNO', title: '拌合站/机编号', width: 150 },
                { field: 'Memo', title: '备注', width: 200 }
            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function () {
               
            },
            onBeforeLoad: function (row,param)
            {              
                gridObj.treegrid('clearSelections');
                gridObj.treegrid('loadData', { total: 0, rows: [] });
            }
        }, 'tg');
    }

    function initEvent() {
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnAdd').linkbutton({ onClick: function () { doHanlder('add'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });      
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
    }


    function doHanlder(type) {
        switch (type) {
            case 'search':
                queryData();
                break;
            case 'add':
                var url = "/MsSys/BhzSys/BhzSysDetail1?KeyId=&TargetId=" + paramsData.TargetId+"&BhzApi=" + paramsData.BhzApi;
                QBO.frm.openWin(url, { title: '添加', icon: 'tasks', width: 600, height: 350 });
                break;
            case 'modify':
                var selData = QBO.plu.grid.get(gridObj, gdKeyId);
                if (selData.obj.length <= 0) {
                    QBO.dia.msg('请勾选需要修改的数据！', { shift: 6, icon: 'error', time: 2000 });
                    return;
                }
                var keyId = selData.str;
                url = "/MsSys/BhzSys/BhzSysDetail1?KeyId=" + keyId + "&TargetId=" + paramsData.TargetId + "&BhzApi=" + paramsData.BhzApi;
                QBO.frm.openWin(url, { title: '修改', icon: 'tasks', width: 600, height: 350 });
                break;
            case 'delete':
                var selData = QBO.plu.grid.get(gridObj, gdKeyId);
                if (selData.obj.length <= 0) {
                    QBO.dia.msg('请勾选需要删除的数据！', { shift: 6, icon: 'error', time: 2000 });
                    return;
                }
                deleteData(selData.str);
                break;
        }
    }


    //删除数据
    function deleteData(Id) {

        QBO.plu.ajax({
            type: 'GET',
            doType: '删除',
            url: '/MsSys/BhzSys/DelBhzBhjByID',
            data: { BhzApi: paramsData.BhzApi, Id: Id }
        }, function (data) {
            //定义提示信息和图标
            var retTip = data.Result === 100 ? '删除成功！' : '删除失败，请稍后再试！',
                retIcon = data.Result === 100 ? 'right' : 'error';

            QBO.dia.msg(retTip, {
                icon: retIcon,
                endCallback: function () {
                    if (data.Result === 100) {
                        queryData();
                    }
                }
            });
        });
    }

</script>





