@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BhzDetail</title>

    <link href="/Content/Components/Animate/animate.min.css" rel="stylesheet" />
    <link href="/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/Components/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="/Content/Css/Themes/base.blue.css" rel="stylesheet" />

    <script src="/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="/Content/Components/EasyUI/locale/easyui-lang-zh_CN.js"></script>

    <script src="/Content/Components/AngularJS/angular.min.js"></script>
    <script src="/Content/Js/Base/base.core.js"></script>
    <script src="/Content/Js/Base/base.loading.js"></script>

</head>
<body class="easyui-layout animated fadeIn">

    <form class="easyui-form" id="thisForm" method="post" enctype="multipart/form-data" style="width: 100%; height:100%"
          ng-app="pageApp" ng-controller="pageCtrl">

        <div data-options="region:'south',border:false" class="frm-toolbar">
            <a href="javascript:;" id="lbtnSave" class="easyui-linkbutton" data-options="iconCls:'fa fa-save',plain:true" ng-click="saveData()">保存</a>
            <a href="javascript:QBO.frm.closeWin();" class="easyui-linkbutton" id="lbtnCancel" data-options="iconCls:'fa fa-times-circle',plain:true">取消</a>
        </div>

        <div data-options="region:'center',border:false">

            <div style="overflow-y: auto;">

                <table class="frm-tb">
                    <tbody>
                        <tr>
                            <td>类型：</td>
                            <td>
                                <input type="radio" name="TypeName" id="rd_two"
                                       ng-checked="!model.IsSuper" ng-disabled="model.OperType=='edit'" ng-click="selectTypeItem(false,$event)" /><label for="rd_two">标段</label>

                                <input type="radio" name="TypeName" id="rd_one"
                                       ng-checked="model.IsSuper" ng-disabled="model.OperType=='edit'" ng-click="selectTypeItem(true,$event)" /><label for="rd_one">项目</label>

                            </td>
                        </tr>
                        <tr ng-if="!model.IsSuper">
                            <td class="title">项目：</td>
                            <td class="content">
                                <select name="ParentId" class="txt-main" data-rule="拌合站:required;length[1~120]:ParentId" style="width: 300px;height:26px"
                                        ng-model="model.TargetModel.ParentId">
                                    <option value="{{item.ProjectID}}" ng-repeat="item in model.Supers" ng-selected="item.ProjectID==model.TargetModel.ParentId">{{item.ProjectShorName}}</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>名称：</td>
                            <td>
                                <input name="TargetName" class="txt-main" ng-model="model.TargetModel.TargetName" data-rule="编号:required;length[1~120]:TargetName" style="width: 300px;height:26px">
                            </td>
                        </tr>
                        <tr>
                            <td>全称：</td>
                            <td>
                                <textarea name="FullName" rows="5" class="txta-main" ng-model="model.TargetModel.FullName" data-rule="全称:required;length[1~200]:FullName" style="width: 300px;"></textarea>

                            </td>
                        </tr>
                        <tr>
                            <td>排序：</td>
                            <td>
                                <input name="OrderNum" class="txt-main" ng-model="model.TargetModel.OrderNum" data-rule="排序:required;length[1~30]:OrderNum" style="width: 300px;height:26px">
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>


        </div>


    </form>
</body>

</html>

<script>


    var thisForm = $("#thisForm");

    var paramsData = {       
        "KeyId": '@ViewBag.KeyId'
    }

    //初始化Angular
    var pageApp = angular.module('pageApp', []);
    pageApp.controller('pageCtrl', function ($scope, $http, $sce) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $sce);
    });

    //初始化ng数据
    function initNgData($scope, $http) {
        $scope.model = {};
        QBO.plu.ng.http({ http: $http, method: 'POST', chkLogin: true, url: 'GetProLabByID', params: paramsData }, function (result) {
            if (result.Result === 100) {
                $scope.model = result.Data;
            }
            //console.log(JSON.stringify($scope.model));
        });
    }

    //初始化ng事件
    function initNgEvent($scope, $http, $sce) {
               
        //选择类型
        $scope.selectTypeItem = function (value, $event) {

            $scope.model.IsSuper = value;

            //项目
            if (value) {
                $scope.model.TargetModel.ParentId = null;
            }

        }

        //保存数据
        $scope.saveData = function () {

            var model = angular.copy($scope.model);
            model.Supers = null;
            //console.log(JSON.stringify(model))

            if (model.TargetModel.TargetName == null || model.TargetModel.TargetName == '') {
                QBO.dia.msg('请填写名称！', 'info');
                return;
            }

            if (model.TargetModel.FullName == null || model.TargetModel.FullName == '') {
                QBO.dia.msg('请填写全称！', 'info');
                return;
            }

            //项目
            if (!model.IsSuper && model.TargetModel.ParentId == null) {
                QBO.dia.msg('请选择项目！', 'info');
                return;
            }

            var OrderNum = parseInt(model.TargetModel.OrderNum);
            $scope.model.TargetModel.OrderNum = (isNaN(OrderNum) ? 0 : OrderNum);
            if (isNaN(OrderNum)) {
                QBO.dia.msg('请填写排序！', 'info');
                return;
            }

            QBO.plu.ng.http({
                http: $http,
                method: 'POST',
                isLoad: true,
                chkLogin: true,
                url: 'SaveProLabData',
                params: { OType: model.OperType },
                data: model
            }, function (result) {

                //console.log(JSON.stringify(result));

                QBO.dia.msg(result.Msg, {
                    icon: result.Result === 100 ? 'right' : 'error',
                    endCallback: function () {
                        if (result.Result === 100) { QBO.frm.closeWin(function () { QBO.frm.getWin().reloadGridData('tg'); }); }
                    }
                });

            });


        }

    }



</script>
