
@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BhzDetail</title>

    <link href="/Content/Components/Animate/animate.min.css" rel="stylesheet" />
    <link href="/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/Components/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="/Content/Css/Themes/base.blue.css" rel="stylesheet" />

    <script src="/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="/Content/Components/EasyUI/locale/easyui-lang-zh_CN.js"></script>

    <script src="/Content/Components/AngularJS/angular.min.js"></script>
    <script src="/Content/Js/Base/base.core.js"></script>
    <script src="/Content/Js/Base/base.loading.js"></script>
   
</head>
<body class="easyui-layout animated fadeIn">

    <form class="easyui-form" id="thisForm" method="post" enctype="multipart/form-data" style="width: 100%; height:100%"
          ng-app="pageApp" ng-controller="pageCtrl">

        <div data-options="region:'south',border:false" class="frm-toolbar">
            <a href="javascript:;" id="lbtnSave" class="easyui-linkbutton" data-options="iconCls:'fa fa-save',plain:true" ng-click="saveData()">保存</a>
            <a href="javascript:QBO.frm.closeWin();" class="easyui-linkbutton" id="lbtnCancel" data-options="iconCls:'fa fa-times-circle',plain:true">取消</a>
        </div>

        <div data-options="region:'center',border:false">
            
            <div style="overflow-y: auto;">

                <table class="frm-tb">
                    <tbody>

                        <tr>
                            <td>类型：</td>
                            <td>
                                <input type="radio" name="TypeName" id="rd_two"
                                       ng-checked="!model.IsSuper" ng-disabled="model.OperType=='edit'" ng-click="selectTypeItem(false,$event)" /><label for="rd_two">拌合机</label>

                                <input type="radio" name="TypeName" id="rd_one"
                                       ng-checked="model.IsSuper" ng-disabled="model.OperType=='edit'" ng-click="selectTypeItem(true,$event)" /><label for="rd_one">拌合站</label>

                            </td>
                        </tr>
                        <tr>
                            <td>编号：</td>
                            <td>
                                <input name="BlendNO" class="txt-main" ng-model="model.BhzModel.BlendNO" data-rule="编号:required;length[1~60]:BlendNO" style="width: 300px;height:26px">
                            </td>
                        </tr>
                        <tr>
                            <td>名称：</td>
                            <td>
                                <input name="BlendName" class="txt-main" ng-model="model.BhzModel.BlendName" data-rule="名称:required;length[1~120]:BlendName" style="width: 300px;height:26px">
                            </td>
                        </tr>

                        <tr ng-if="!model.IsSuper">
                            <td class="title">拌合站：</td>
                            <td class="content">
                                <select name="ParentID" class="txt-main" data-rule="拌合站:required;length[1~120]:ParentID" style="width: 300px;height:26px"
                                        ng-model="model.BhzModel.ParentID" ng-change="selectBhzItem($event)">
                                    <option value="{{item.ID}}" ng-repeat="item in model.Supers" ng-selected="item.ID==model.BhzModel.ParentID">{{item.BlendName}}</option>
                                </select>
                            </td>
                        </tr>                          
                        <tr>
                            <td>备注：</td>
                            <td>
                                <textarea name="Memo" rows="5" class="txta-main" ng-model="model.BhzModel.Memo" data-rule="length[1~200]" style="width: 300px;"></textarea>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            
        </div>


    </form>
</body>

</html>

<script>


    var thisForm = $("#thisForm");

    var paramsData = {
        "BhzApi": '@ViewBag.BhzApi',
        "TargetId": '@ViewBag.TargetId',        
        "KeyId": '@ViewBag.KeyId'
    }

    //初始化Angular
    var pageApp = angular.module('pageApp', []);
    pageApp.controller('pageCtrl', function ($scope, $http, $sce) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $sce);
    });

    //初始化ng数据
    function initNgData($scope, $http) {
        $scope.model = {};
        QBO.plu.ng.http({ http: $http, method: 'POST', chkLogin: true, url: 'GetBhzBhjByID', params: paramsData }, function (result) {
            if (result.Result === 100) {
                $scope.model = result.Data;
            }
            //console.log(JSON.stringify($scope.model));
        });
    }

    //初始化ng事件
    function initNgEvent($scope, $http, $sce) {

        //选择拌合站
        $scope.selectBhzItem = function ($event) {

            var parentId = $scope.model.BhzModel.ParentID;

            var supers = $scope.model.Supers;

            for (var key in supers) {

                if (supers[key].ID == parentId) {
                    $scope.model.BhzModel.OrganID = supers[key].OrganID;
                }

            }

        }

        //选择类型
        $scope.selectTypeItem = function (value, $event) {

            $scope.model.IsSuper = value;

            //拌合站
            if (value) {
                $scope.model.BhzModel.ParentID = null;
            }

        }

        //保存数据
        $scope.saveData = function () {

            var model = angular.copy($scope.model);

            //console.log(JSON.stringify(model))

            if (model.BhzModel.BlendName == null || model.BhzModel.BlendName == '') {
                QBO.dia.msg('请填写名称！', 'info');
                return;
            }

            if (model.BhzModel.BlendNO == null || model.BhzModel.BlendNO == '') {
                QBO.dia.msg('请填写编号！', 'info');
                return;
            }

            //拌合机
            if (!model.IsSuper && model.BhzModel.ParentID == null) {
                QBO.dia.msg('请选择拌合站！', 'info');
                return;
            }

            QBO.plu.ng.http({
                http: $http,
                method: 'POST',
                isLoad: true,
                chkLogin: true,
                url: 'SaveBhzBhjData',
                params: { BhzApi: paramsData.BhzApi, OType: model.OperType },
                data: model.BhzModel
            }, function (result) {

                //console.log(JSON.stringify(result));

                QBO.dia.msg(result.Msg, {
                    icon: result.Result === 100 ? 'right' : 'error',
                    endCallback: function () {
                        if (result.Result === 100) { QBO.frm.closeWin(function () { QBO.frm.getWin().reloadGridData('tg'); }); }
                    }
                });

            });


        }

    }



</script>
