@{
    ViewBag.Title = "BhzSysIndex3";
    Layout = "~/Views/BasePage/_LayoutMsSysEmpty.cshtml";
}

<link href="~/Content/Components/Bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Components/SemanticUI/semantic.min.css" rel="stylesheet" />
<link href="~/Content/Components/QTip/Css/jquery.qtip.min.css" rel="stylesheet" />
<script src="~/Content/Components/SemanticUI/semantic.min.js"></script>
<script src="~/Content/Components/QTip/Js/jquery.qtip.min.js"></script>
<script src="~/Content/Components/Validator/jquery.validator.min.js?local=zh-CN"></script>
<script src="~/Content/Components/AngularJS/angular.min.js"></script>

<style type="text/css">
    body {
        background-color: #fff;
        font-size: 12px;
    }

    .ibox-title {
        position: absolute;
        height: 10px;
        padding: 10px 10px;
    }

    .ibox-body {
        position: absolute;
        top: 10px;
        width: 100%;
        height: 98%;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 10px 10px;
        margin: 0px 0px;
        background-color: rgb(240, 245, 246);
        display: inline;
    }


    .ibox-bottom {
        position: absolute;
        height: 30px;
        bottom: 50px;
        padding: 5px 5px;
        border-bottom: 0px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        text-align: left;
    }
    
    .datagrid-cell-c1-DateBirth {
        width: auto;
        padding: 0 10px;
    }

    .table {
        background-color: #fff;
        margin-bottom: 20px;
    }

    .table caption {
        background-color: #fff;
        font-weight: bold;
    }

    .table th, table td {
        text-align: center;
    }

   .list-group-tip .list-group-item {border-width: 0; border-bottom: 1px dashed #bfbfbf;  margin-bottom: 0;  padding: 5px; }
   .list-group-tip .list-group-item.active { background-color: #e8e8e8; color: inherit; }


</style>

<div ng-app="pageApp" ng-controller="pageCtrl">
    <div class="ibox-title">

        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12 col-lg-12">

            </div>
        </div>

    </div>

    <div class="ibox-body">

        <form id="thisForm1" method="post">

            <table class="table">
                <caption>
                    <h5><img src="~/Content/Css/Themes/Images/Design/Default/Com/com_flg.png" />&nbsp;&nbsp;按每盘混合料单一材料的重量偏差提醒</h5>
                </caption>
                <thead>
                    <tr>
                        <th>
                            <a href="javascript:;" id="showDiv1" ng-click="loadItems1()" title="复制"><i class="fa fa-files-o" aria-hidden="true"></i></a>  
                        </th>
                        <th>
                            报警手机号(多个号用","隔开)
                        </th>
                        <th>
                            发送周期(0~59分钟)
                        </th>
                        <th>
                            超出多少周期后不发(分钟)
                        </th> 
                        <th>
                            是否启动
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th style="padding-top:20px">第1级</th>
                        <td>
                            <textarea name="One_Phone" class="txta-main" ng-model="model_one.One_Phone" data-rule="手机:length[0~120]:One_Phone" rows="2" style="width: 500px; "></textarea>
                        </td>
                        <td style="padding-top:20px">
                            <input name="One_Timer" class="txt-main" ng-model="model_one.One_Timer" data-rule="发送周期:integer[+0]:One_Timer" style="width: 80px;height:26px">
                        </td>
                        <td rowspan="4" style="padding-top:80px">
                            <input name="Over_Timer" class="txt-main" ng-model="model_one.Over_Timer" data-rule="required;integer[+0]:Over_Timer" style="width: 80px; height: 40px; ">
                        </td>
                        <td rowspan="4" style="padding-top:80px">
                            <input id="IsEnable1" name="IsEnable1" type="checkbox" ng-checked="model_one.IsEnable==true" ng-click="selectIsEnable1(1,$event)" /><label for="IsEnable1"></label>
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-top:20px">第2级</th>
                        <td>
                            <textarea name="Two_Phone" class="txta-main" ng-model="model_one.Two_Phone" data-rule="手机:length[0~120]:Two_Phone" rows="2" style="width: 500px; "></textarea>
                        </td>
                        <td style="padding-top:20px">
                            <input name="Two_Timer" class="txt-main" ng-model="model_one.Two_Timer" data-rule="发送周期:integer[+0]:Two_Timer" style="width: 80px;height:26px">
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-top:20px">第3级</th>
                        <td>
                            <textarea name="Three_Phone" class="txta-main" ng-model="model_one.Three_Phone" data-rule="手机:length[0~120]:Three_Phone" rows="2" style="width: 500px; "></textarea>
                        </td>
                        <td style="padding-top:20px">
                            <input name="Three_Timer" class="txt-main" ng-model="model_one.Three_Timer" data-rule="发送周期:integer[+0]:Three_Timer" style="width: 80px;height:26px">
                        </td>
                    </tr>
                    <tr>
                        <th style="padding-top:20px">第4级</th>
                        <td>
                            <textarea name="Four_Phone" class="txta-main" ng-model="model_one.Four_Phone" data-rule="手机:length[0~120]:Four_Phone" rows="2" style="width: 500px; "></textarea>
                        </td>
                        <td style="padding-top:20px">
                            <input name="Four_Timer" class="txt-main" ng-model="model_one.Four_Timer" data-rule="发送周期:integer[+0]:Four_Timer" style="width: 80px;height:26px">
                        </td>
                    </tr>
                 
                    <tr>
                        <th style="padding-top:20px">短信模板</th>
                        <td colspan="4" style="text-align:left">
                            <textarea name="TempletText" class="txta-main" ng-model="model_one.TempletText" data-rule="短信模板:required;length[0~1000]:TempletText" rows="3" style="width: 95%;"></textarea>
                            <div style="color:red">
                                说明&nbsp;&nbsp;&nbsp;&nbsp;                                
                                {0}：表示“标段”&nbsp;&nbsp;&nbsp;&nbsp;
                                {1}：表示“工程名称”&nbsp;&nbsp;&nbsp;&nbsp;
                                {2}：表示“工程部位”&nbsp;&nbsp;&nbsp;&nbsp;
                                {3}：表示“拌合站名称”&nbsp;&nbsp;&nbsp;&nbsp;
                                {4}：表示“拌合机名称”&nbsp;&nbsp;&nbsp;&nbsp;
                                {5}：表示“拌合机编号”&nbsp;&nbsp;&nbsp;&nbsp;
                                {6}：表示“出料时间”&nbsp;&nbsp;&nbsp;&nbsp;
                                {7}：表示“强度等级”&nbsp;&nbsp;&nbsp;&nbsp;
                                {8}：表示“超标等级”&nbsp;&nbsp;&nbsp;&nbsp;
                                {9}：表示“超标结果”
                            </div>
                        </td>
                    </tr>

                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" style="text-align:center">
                            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'fa fa-save',plain:false" ng-click="saveSmsData1()">保存</a>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </form>

        <form id="thisForm2" method="post">

                <table class="table">
                    <caption>
                        <h5><img src="~/Content/Css/Themes/Images/Design/Default/Com/com_flg.png" />&nbsp;&nbsp;按照一段时间内不合格的盘数提醒</h5>
                    </caption>
                    <thead>
                        <tr style="text-align: center">
                            <th>
                                <a href="javascript:;" id="showDiv2" ng-click="loadItems2()" title="复制"><i class="fa fa-files-o" aria-hidden="true"></i></a>  
                            </th>
                            <th>
                                发送对象
                            </th>
                            <th>
                                接收手机号
                            </th>
                            <th>
                                发送周期(0~59分钟)
                            </th>
                            <th>
                                不合格盘数
                            </th>   
                            <th>
                                是否启动
                            </th>
                            <th>
                                <a href="javascript:;" ng-click="addModelTwo()" title="添加"><i class="fa fa-plus-circle"></i>添加</a>  
                            </th>
                        </tr>  
                    </thead>
                    <tbody>                       
                                             
                        <tr ng-repeat="item in model_two.SetTwoList">
                            <td></td>
                            <td>
                                <textarea name="SendType" class="txta-main" ng-model="item.SendType" data-rule="发送对象:required;length[0~120]:SendType" rows="2" style="width: 300px; "></textarea>
                            </td>
                            <td>
                                <textarea name="MobilePhone" class="txta-main" ng-model="item.MobilePhone" data-rule="接收手机号:required;length[0~120]:MobilePhone" rows="2" style="width: 300px; "></textarea>
                            </td>
                            <td style="padding-top:20px">
                                <input name="Minutes" class="txt-main" ng-model="item.Minutes" data-rule="发送周期:required;integer[+0]:Minutes" style="width: 80px;height:26px">
                            </td>
                            <td style="padding-top:20px">
                                <input name="OverQty" class="txt-main" ng-model="item.OverQty" data-rule="不合格盘数:required;integer[+0]:OverQty" style="width: 80px;height:26px">
                            </td>

                            <td style="padding-top:20px">
                                <input id="IsEnable2" name="IsEnable2" type="checkbox" ng-checked="item.IsEnable==true" ng-click="selectIsEnable2($index,$event)" /><label for="IsEnable2"></label>
                            </td>
                            <td style="padding-top:20px">
                                <a href="javascript:;" ng-click="deleteModelTwo(item)" title="删除"><i class="fa fa-times-circle"></i>删除</a>
                            </td>
                        </tr> 
                        <tr>
                            <td colspan="7">
                                <table class="table" style="margin-bottom:0px">
                                    <tr>
                                        <th style="text-align:center;padding-top:20px;width:125px;border-top:0">
                                            短信模板
                                        </th>
                                        <td style="border-top:0;text-align:left">
                                            <textarea name="TempletText" class="txta-main" ng-model="model_two.TempletText" data-rule="短信模板:required;length[0~1000]:TempletText" rows="3" style="width: 95%;"></textarea>
                                            <div style="color:red">
                                                说明&nbsp;&nbsp;&nbsp;&nbsp;
                                                {0}：表示“标段”&nbsp;&nbsp;&nbsp;&nbsp;
                                                {1}：表示“拌合机名称”&nbsp;&nbsp;&nbsp;&nbsp;
                                                {2}：表示“发送周期”&nbsp;&nbsp;&nbsp;&nbsp;
                                                {3}：表示“超标盘数”&nbsp;&nbsp;&nbsp;&nbsp;
                                                {4}：表示“最近出料时间”&nbsp;&nbsp;&nbsp;&nbsp;                                               
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>                                                       
                        </tr>                                 
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" style="text-align:center">
                                <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'fa fa-save',plain:false" ng-click="saveSmsData2()">保存</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </form>
        
        <form id="thisForm3" method="post">

            <table class="table">
                <caption>
                    <h5><img src="~/Content/Css/Themes/Images/Design/Default/Com/com_flg.png" />&nbsp;&nbsp;按照一段时间内的总量信息进行提醒</h5>
                </caption>
                <thead>
                    <tr style="text-align: center">
                        <th>
                            <a href="javascript:;" id="showDiv3" ng-click="loadItems3()" title="复制"><i class="fa fa-files-o" aria-hidden="true"></i></a>  
                        </th>                      
                        <th>
                            接收手机号
                        </th>
                        <th>
                            发送时间(有效范围0-23)
                        </th>                      
                        <th>
                            是否启动
                        </th>                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>                       
                        <td>
                            <textarea name="MobilePhone" class="txta-main" ng-model="model_three.MobilePhone" data-rule="接收手机号:required;length[0~120]:MobilePhone" rows="2" style="width: 500px; "></textarea>
                        </td>
                        <td style="padding-top:20px">
                            <input name="Hours" class="txt-main" ng-model="model_three.Hours" data-rule="发送时间:required;integer[+0]:Hours" style="width: 80px;height:26px">
                        </td>                       
                        <td style="padding-top:20px">
                            <input id="IsEnable3" name="IsEnable3" type="checkbox" ng-checked="model_three.IsEnable==true" ng-click="selectIsEnable3(1,$event)" /><label for="IsEnable3"></label>
                        </td>                      
                    </tr>
                    <tr>
                        <td colspan="4">
                            <table class="table" style="margin-bottom:0px">
                                <tr>
                                    <th style="text-align:center;padding-top:20px;width:125px;border-top:0">
                                        短信模板
                                    </th>
                                    <td style="border-top:0;text-align:left">
                                        <textarea name="TempletText" class="txta-main" ng-model="model_three.TempletText" data-rule="短信模板:required;length[0~1000]:TempletText" rows="3" style="width: 95%;"></textarea>
                                        <div style="color:red">
                                            说明&nbsp;&nbsp;&nbsp;&nbsp;
                                            {0}：表示“标段”&nbsp;&nbsp;&nbsp;&nbsp;
                                            {1}：表示“拌合机名称”&nbsp;&nbsp;&nbsp;&nbsp;
                                            {2}：表示“昨日累计盘数”&nbsp;&nbsp;&nbsp;&nbsp;
                                            {3}：表示“昨日累计超标盘数”&nbsp;&nbsp;&nbsp;&nbsp;
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" style="text-align:center">
                            <a href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'fa fa-save',plain:false" ng-click="saveSmsData3()">保存</a>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </form>


        <!--显示复制 Begin-->
        <div style="display: none;">

            <div id="toolbar_items1" class="animated fadeIn" style="height: auto; overflow: auto;">
                <div class="list-group list-group-tip">
                    <a href="javascript:;" class="list-group-item" ng-repeat="item in items1" ng-click="selItem1(item)">
                        <label class="radio-inline" style="display: block; padding-left: 0;" ng-bind="item.OrganShorName"></label>
                    </a>
                </div>
            </div>

            <div id="toolbar_items2" class="animated fadeIn" style="height: auto; overflow: auto;">
                <div class="list-group list-group-tip">
                    <a href="javascript:;" class="list-group-item" ng-repeat="item in items2" ng-click="selItem2(item)">
                        <label class="radio-inline" style="display: block; padding-left: 0;" ng-bind="item.OrganShorName"></label>
                    </a>
                </div>
            </div>

            <div id="toolbar_items3" class="animated fadeIn" style="height: auto; overflow: auto;">
                <div class="list-group list-group-tip">
                    <a href="javascript:;" class="list-group-item" ng-repeat="item in items3" ng-click="selItem3(item)">
                        <label class="radio-inline" style="display: block; padding-left: 0;" ng-bind="item.OrganShorName"></label>
                    </a>
                </div>
            </div>

        </div>
        <!--显示复制 End-->
    </div>


</div>

<script type="text/javascript">

    var paramsData = {
        "LoadApi": '@ViewBag.LoadApi',
        "TargetId": ''
    }

    $(function () {

    });

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        var appElement = document.querySelector('[ng-controller=pageCtrl]');
        var $scope = angular.element(appElement).scope();        
        $scope.paramsData.LoadApi = 1;
        $scope.paramsData.TargetId = data.TargetId;
        $scope.items1 = null;
        $scope.items2 = null;
        $scope.items3 = null;
        $scope.$apply();
        $scope.queryData();      
    }


</script>


<script type="text/javascript"> 

    //初始化Angular
    var pageApp = angular.module('pageApp', []);
    pageApp.controller('pageCtrl', function ($scope, $http, $timeout) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $timeout);
        initNgQuery($scope, $http, $timeout);
    });

    //初始化ng数据
    function initNgData($scope, $http) {

        $scope.paramsData = paramsData;
        $scope.paramsData.TargetId = parent.selData.TargetId;

        var idxData = parent.idxData;
        if (idxData.idx_mod1 == 5 && idxData.idx_mod2 == 2) {
            $scope.paramsData.LoadApi = 1;
        } else {
            $scope.paramsData.LoadApi = 0;
        }

        $scope.model_one = [];
        $scope.model_two =[];
        $scope.model_three = [];
        $scope.model_two.TempletText = "";
 
        $scope.items1 = null;
        $scope.items2 = null;
        $scope.items3 = null;

    }

    //初始化ng事件
    function initNgEvent($scope, $http, $timeout) {
        
        //加载
        $scope.queryData = function () {
            $scope.queryData1();
            $scope.queryData2();
            $scope.queryData3();     
        }

        //加载1
        $scope.queryData1 = function () {
       
            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: true, url: '/MsSys/BhzSys/GetBhzSmsOneData', params: $scope.paramsData }, function (data) {

                //console.log(JSON.stringify(data));

                $scope.model_one = data;

            });
        };

        //加载2
        $scope.queryData2 = function () {

            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: false, chkLogin: false, url: '/MsSys/BhzSys/GetBhzSmsTwoData', params: $scope.paramsData }, function (data) {

                //console.log(JSON.stringify(data));

                $scope.model_two = data;

            });
        };
        
        //加载3
        $scope.queryData3 = function () {

            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: false, chkLogin: false, url: '/MsSys/BhzSys/GetBhzSmsThreeData', params: $scope.paramsData }, function (data) {

                //console.log(JSON.stringify(data));

                $scope.model_three = data;

            });
        };
        

        //保存1
        $scope.saveSmsData1 = function () {

            if (!QBO.frm.chkForm("thisForm1")) return;

            var model_one = angular.copy($scope.model_one);

            QBO.plu.ng.http({
                http: $http,
                method: 'POST',
                isLoad: true,
                chkLogin: true,
                url: 'SaveBhzSmsOneData',
                params: $scope.paramsData,
                data: model_one
            }, function (result) {

                //console.log(JSON.stringify(result));

                QBO.dia.msg(result.Msg, { icon: result.Result === 100 ? 'right' : 'error' });

            });

        }
        
        //保存2
        $scope.saveSmsData2 = function () {

            if (!QBO.frm.chkForm("thisForm2")) return;

            var model_two = angular.copy($scope.model_two);

            if (model_two.SetTwoList.length == 0) {
                QBO.dia.msg('请新增发送对象！', 'info');
                return;
            }

            QBO.plu.ng.http({
                http: $http,
                method: 'POST',
                isLoad: true,
                chkLogin: true,
                url: 'SaveBhzSmsTwoData',
                params: $scope.paramsData,
                data: model_two
            }, function (result) {

                QBO.dia.msg(result.Msg, { icon: result.Result === 100 ? 'right' : 'error' });

            });

        }

        //保存3
        $scope.saveSmsData3 = function () {

            if (!QBO.frm.chkForm("thisForm3")) return;

            var model_three = angular.copy($scope.model_three);

            if(model_three.Hours<0 || model_three.Hours>=23)
            {
                QBO.dia.msg('发送时间点请填写0-23的整数！', 'info');
                return;
            }
            
            QBO.plu.ng.http({
                http: $http,
                method: 'POST',
                isLoad: true,
                chkLogin: true,
                url: 'SaveBhzSmsThreeData',
                params: $scope.paramsData,
                data: model_three
            }, function (result) {

                QBO.dia.msg(result.Msg, { icon: result.Result === 100 ? 'right' : 'error' });

            });

        }
                

        //是否生效1       
        $scope.selectIsEnable1 = function (value, $event) {

            var thisObj = $($event.target);

            if (thisObj.is(':checked')) {
                $scope.model_one.IsEnable = true;
            }
            else {
                $scope.model_one.IsEnable = false;
            }

        }

        //是否生效2      
        $scope.selectIsEnable2 = function (index, $event) {

            var thisObj = $($event.target);

            if (thisObj.is(':checked')) {
                $scope.model_two.SetTwoList[index].IsEnable = true;
            }
            else {
                $scope.model_two.SetTwoList[index].IsEnable = false;
            }

        }

        //是否生效3    
        $scope.selectIsEnable3 = function (value, $event) {

            var thisObj = $($event.target);

            if (thisObj.is(':checked')) {
                $scope.model_three.IsEnable = true;
            }
            else {
                $scope.model_three.IsEnable = false;
            }

        }


        //获取已设置参数的试验室列表1
        $scope.loadItems1 = function () {
            if ($scope.items1 != null) return;
            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: false, url: '/MsSys/BhzSys/GetSmsSetOneLabs' }, function (data) {
                $scope.items1 = data;
            });
        };

        //获取已设置参数的试验室列表2
        $scope.loadItems2 = function () {
            if ($scope.items2 != null) return;
            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: false, url: '/MsSys/BhzSys/GetSmsSetTwoLabs' }, function (data) {
                $scope.items2 = data;
            });
        };

        //获取已设置参数的试验室列表3
        $scope.loadItems3 = function () {
            if ($scope.items3 != null) return;
            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: false, url: '/MsSys/BhzSys/GetSmsSetThreeLabs' }, function (data) {
                $scope.items3 = data;
            });
        };


        //选择复制1
        $scope.selItem1 = function (item) {

            var paramsItem = {
                "LoadApi": 1,
                "TargetId": item.OrganID
            }

            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: true, url: '/MsSys/BhzSys/GetBhzSmsOneData', params: paramsItem }, function (data) {
                $scope.model_one = data;
                $scope.model_one.OrganID = $scope.paramsData.TargetId;
                //console.log(JSON.stringify($scope.model_one))
            });

        }

        //选择复制2
        $scope.selItem2 = function (item) {

            var paramsItem = {
                "LoadApi": 1,
                "TargetId": item.OrganID
            }

            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: true, url: '/MsSys/BhzSys/GetBhzSmsTwoData', params: paramsItem }, function (data) {

                var TargetId= $scope.paramsData.TargetId;

                $scope.model_two = data;
                $scope.model_two.TargetId = TargetId;

                $scope.model_two.NewModel.OrganID = TargetId;

                var list = $scope.model_two.SetTwoList;

                if (list != null) {
                    for (var key in list) {
                        list[key].OrganID = TargetId;
                    }
                }

                //console.log(JSON.stringify($scope.model_two))
            });

        }

        //选择复制3
        $scope.selItem3 = function (item) {

            var paramsItem = {
                "LoadApi": 1,
                "TargetId": item.OrganID
            }

            QBO.plu.ng.http({ http: $http, method: 'GET', isLoad: true, chkLogin: true, url: '/MsSys/BhzSys/GetBhzSmsThreeData', params: paramsItem }, function (data) {
                $scope.model_three = data;
                $scope.model_three.OrganID = $scope.paramsData.TargetId;
                //console.log(JSON.stringify($scope.model_three))
            });

        }


        //删除
        $scope.deleteModelTwo = function (item) {
            $scope.model_two.SetTwoList.splice($scope.model_two.SetTwoList.indexOf(item), 1);
        }

        //添加
        $scope.addModelTwo = function () {

            var item = angular.copy($scope.model_two.NewModel);

            $scope.model_two.SetTwoList.push(item);
        }


    }

    //初始化ng查询数据
    function initNgQuery($scope, $http, $timeout) {

        if ($scope.paramsData.LoadApi == 1) {
            $scope.queryData();       
        }

       
    }

 
</script>



<script type="text/javascript">

    $('#showDiv1').qtip({
        content: $('#toolbar_items1'),
        position: { my: 'top left', at: 'bottom left' },
        show: 'click', hide: 'unfocus',
        style: { classes: 'qtip-bootstrap qtip-rounded qtip-shadow', width: 200 }
    });

    $('#showDiv2').qtip({
        content: $('#toolbar_items2'),
        position: { my: 'top left', at: 'bottom left' },
        show: 'click', hide: 'unfocus',
        style: { classes: 'qtip-bootstrap qtip-rounded qtip-shadow', width: 200 }
    });

    $('#showDiv3').qtip({
        content: $('#toolbar_items3'),
        position: { my: 'top left', at: 'bottom left' },
        show: 'click', hide: 'unfocus',
        style: { classes: 'qtip-bootstrap qtip-rounded qtip-shadow', width: 200 }
    });


</script>

