<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="../Js/calendarInit.js" charset="gb2312"></script>
</head>
<body>
    <div style="width: 1200px; height: 500px; margin: 20px auto; border: 1px solid #c3c3c3; padding: 10px;">
        <input type="text" onfocus="dateChoose.click(0);" />2013-11-28<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(1);" />2013-11-28 15:05:19<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(2);" />2013年11月<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(3);" />2013/11/28<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(4);" />2013/11/28 15/05/19<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(5);" />2013年11月28日<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(6);" />2013年11月28日 15时06分41秒<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(7);" />15:05:19<br />
        <br />
        <br />
        <input type="text" onfocus="dateChoose.click(8);" />星期四, 十一月 28, 2013<br />
        <br />
        <br />

        双日期：<br />
        <input type="text" onclick="dateChoose.click(9);" />2013-11-28<br />
        <br />
        <br />

        只能选择今天之前的日期（包含今天）：<br />
        <input type="text" onfocus="dateChoose.click(10);" />2013-11-28<br />
        <br />
        <br />

        只能选择今天之后的日期（不包含今天）：<br />
        <input type="text" onfocus="dateChoose.click(11);" />2013-11-29<br />
        <br />
        <br />

        只能选择本月1号至最后一天：<br />
        <input type="text" onfocus="dateChoose.click(12);" />2013-11-29<br />
        <br />
        <br />

        只能选择今天7:00:00至明天21:00:00的日期：<br />
        <input type="text" onfocus="dateChoose.click(13);" />2013-11-28 06:30:00<br />
        <br />
        <br />

        限制选择的日期范围-年月日（2013-06-06至2013-11-11）：<br />
        <input type="text" onfocus="dateChoose.click(14);" />2013-11-28<br />
        <br />
        <br />

        限制选择的日期范围-年月日时分秒（2013-11-27 06:30:00至2013-11-28 12:30:30）：<br />
        <input type="text" onfocus="dateChoose.click(15);" />2013-11-28 06:30:00<br />
        <br />
        <br />

        限制选择的日期范围-年月（2013年10月至2013年12月）：<br />
        <input type="text" onfocus="dateChoose.click(16);" />2013年12月<br />
        <br />
        <br />

        限制选择的日期范围-时分秒（06:30:00至12:30:30）：<br />
        <input type="text" onfocus="dateChoose.click(17);" />06:30:00<br />
        <br />
        <br />

        禁用 周六 周日 所对应的日期：<br />
        <input type="text" onfocus="dateChoose.click(18);" />2013-11-29<br />
        <br />
        <br />

        高亮每周 周一 周五：<br />
        <input type="text" onfocus="dateChoose.click(19);" />2013-11-29<br />
        <br />
        <br />

        高亮每月 1号 15号 25号：<br />
        <input type="text" onfocus="dateChoose.click(20);" />2013-11-29<br />
        <br />
        <br />

        页面直接显示日期：<br />
        <div id="div1"></div>
        <script>
            WdatePicker({ eCont: 'div1', onpicked: function (dp) { alert('你选择的日期是:' + dp.cal.getDateStr()); } })
        </script>
        b
    </div>
</body>
</html>
