@using System.Web.Optimization
@using Dos.ORM.Common.Helpers
@using Dos.ORM.WebPC.App_Common.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公路建设项目质量动态管理信息平台</title>
    <link href="~/Content/Components/Animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Components/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Content/Css/Themes/base.blue.css" rel="stylesheet" />
    <link href="~/Content/Css/Areas/MsSys/sys.main.index.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@

    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Components/Cookie/jquery.cookie.min.js"></script>
    <script src="~/Content/Components/jClock/jquery.jclock.js"></script>
    <script src="~/Content/Components/AngularJS/angular.min.js"></script>    
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/Components/zTree/js/jquery.ztree.core.min.js"></script>
    <script src="~/Content/Components/Layer/layer.min.js"></script>
    <script src="~/Content/Js/Base/base.core.js"></script>
    <script src="~/Content/Js/Base/base.loading.js"></script>
    
    <style>
        html, body { 
            width:100%;
            height:100%;
        }
        .north-title { 
            width:1200px;
            margin:0 auto;
            overflow:hidden;
            border-bottom:1px solid #6ca4d4;
        }

        .iterm { 
            width:100%;
            height:250px;
            margin:100px 0 0 0;
            position:relative;
            text-align:center;
        }
        .itermList a { 
            display:inline-block;
            margin:40px;
        }
        .itermList a p { 
            margin:20px 0 0 0;
            color:white;
        } 

        .footer { 
            width:100%;
            position:fixed;
            bottom:30px;
            color:white;
        }
        .note-link a { 
            display:inline-block;
            margin:10px;
            color:white;
        }
        .center-title { 
            font-size:28px !important;
            letter-spacing:4px !important;
        }

        @@media screen and (min-width: 1000px) and (max-width:1199px){
            .north-title { 
                width:1024px;
            }
            .center-title { 
                padding:50px 0 0 0 !important;
            }
            .iterm { 
                margin:50px 0 0 0;
            }
        }
        @@media screen and (min-width: 1200px) and (max-width:1366px){
            .panel-pro { 
                height:auto !important;
            }
            .panel-pro-nei { 
                width:550px !important;
            }
            .panel-pro-nei a { 
                width:135px !important;
                height:90px !important;
                background-size:50% 50%;
                background-position:center 10px !important;
            }
            .panel-pro-nei a span { 
                margin-top:65px !important;
            }
            .center-title { 
                padding:50px 0 0 0 !important;
            }
            .iterm { 
                margin:50px 0 0 0;
            }
        }
        @@media screen and (min-width: 1367px){ 
            .north-title { 
                width:1366px;
            }
            .panel-pro-nei { 
                width:750px !important;
            }
        }
    </style>

    <script>
        window.onload = function () {
            //console.log(1);
        }
    </script>
</head>
<body class="sys-main sys-main-pt" ng-app="ngApp" ng-controller="mainCtrl" id="mainBody" style="overflow:auto;">
    <div class="sys-main-north">
        <div class="north-title">
            <div style="float:left;line-height:80px;color:white;font-size:18px;letter-spacing:2px;">
                <img src="../../../Content/Css/Themes/Images/Design/Default/Com/logo.png" alt="Alternate Text" />
                @ViewBag.OrganName
            </div>
            <div class="north-right">
                <a class="north-nav north-nav-user" href="javascript:;" ng-click="topRightFn('per')" style="color:#cfcfcf;">@ViewBag.FullName</a>
                <a class="north-nav north-nav-pwd" href="javascript:;" ng-click="topRightFn('pwd')" style="color:#cfcfcf;">修改密码</a>
                <a class="north-nav north-nav-exit" href="javascript:;" ng-click="topRightFn('exit')">退出</a>
            </div>
        </div>     
    </div>


    <div class="center-pro">
        <div class="center-title">
            公路建设项目质量动态管理信息平台 
        </div>

        <div class="iterm">
            <div class="itermList">
                <a href="javascript:;" ng-click="selMenuItem(item)" target="_self" ng-repeat="item in menus" class="pro-info {{item.PicCss}}">
                    <img src="../../../../Content/Css/Themes/Images/Design/Default/IconBig/{{item.PicCss}}.png" alt="Alternate Text" />
                    <p ng-bind="item.ModuleName"></p>
                </a>
            </div>
            <div style="width:100%;height:100%;background:#434343;opacity:0.2;position:absolute;top:0;z-index:-1;">

            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="center-note">
           @* <div class="note-link" style="text-align:center">
                <a href="javascript:;">关于平台</a>
                <a href="javascript:;">意见反馈</a>
                <a href="javascript:;">联系我们</a>
            </div>
            <div class="note-address" style="text-align:center">
                版权所有 &copy; 成都科信交通科技开发有限公司<br>
                地址：成都市高新区天府四街长虹科技大厦B座1104号&nbsp;&nbsp;网址：www.cdkxc.com
            </div>*@
        </div>
    </div>

</body>
</html>

<script type="text/javascript">
       

    var ngApp = angular.module('ngApp', []);
    ngApp.controller('mainCtrl', function ($scope, $http, $timeout) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $timeout);
    });
    //初始化ng数据
    function initNgData($scope, $http) {

        //菜单数据   
        $scope.menus = [];
        QBO.plu.ng.http({ http: $http, isLoad: false, chkLogin: false, url: '/MsSys/Main/GetModule' }, function (result) {           
            if (result.Result === 100) {
                $scope.menus = result.Data;
            }
        });

    }

    //初始化ng事件
    function initNgEvent($scope, $http, $timeout) {

        $scope.selMenuItem = function (item) {
            var pId = item.ID;
            var pCode = item.ModuleCode;
             
            if (pCode == "04" || pCode == "05") {
                location.href = '/MsSys/Main/Index3?pId=' + pId;//04拌合机+05试验机
            }
            else {
                location.href = '/MsSys/Main/Index2?pId=' + pId;//平台 
            }
        }


        //主页顶部的“个人中心”、“信息”和“退出”事件
        $scope.topRightFn = function (type) {
            if (type === 'pwd') {
                QBO.frm.openWin('/MsSys/Main/PassWordIndex', { title: '修改密码', icon: 'key', width: 500, height: 270 });
            }
            else if (type === 'exit') {
                QBO.dia.confirm('确定要退出本系统？', function () {
                    location.href = '/MsSys/Login/LoginOut';
                });
            }
        };

    


    }


</script>
