@using System.Web.Optimization
@using Dos.ORM.Common.Helpers
@using Dos.ORM.WebPC.App_Common.Mvc
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公路建设项目质量动态管理信息平台</title>
    <link href="~/Content/Components/Animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Components/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <link href="~/Content/Css/Themes/base.blue.css" rel="stylesheet" />
    <link href="~/Content/Css/Areas/MsSys/sys.main.index.css" rel="stylesheet" />

    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Components/Cookie/jquery.cookie.min.js"></script>
    <script src="~/Content/Components/jClock/jquery.jclock.js"></script>
    <script src="~/Content/Components/AngularJS/angular.min.js"></script>
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/Components/zTree/js/jquery.ztree.core.min.js"></script>
    <script src="~/Content/Components/Layer/layer.min.js"></script>
    <script src="~/Content/Js/Base/base.core.js"></script>
    <script src="~/Content/Js/Base/base.loading.js"></script>

    <style>
        body { 
            /*overflow:auto !important;*/
            /*font-size:12px;*/
        }
 
        .dateDiv {
            position: relative;
            height: 30px;
            width: 160px;
            margin: 16px 20px 0 0;
            float: left;
        }

        #date {
            height: 30px;
            width: 160px;
            font-size: 14px;
            border-radius: 6px;
            color: white;
            text-align: center;
            line-height: 30px;
            background: url('../../../../Content/Css/Themes/Images/Design/Default/IconSmall/main_top_date.png') 10px 6px no-repeat;
        }

        .dateDivIn {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: white;
            opacity: 0.25;
            border-radius: 6px;
        }

        .panel-pro-nei {
            width: 550px !important;
        }

        .sys-main {
            background-image: url("../../../../Content/Css/Themes/Images/Design/Default/Com/com_bg_main1.png");
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }

        .sys-main-north {
            background: none;
        }

        .layout-split-west {
            background: #f2f2f2;
        }

        .itermTitle {
            height: 35px;
            line-height: 35px;
            padding: 0 0 0 10px;
            /*border-left:4px solid #317c8e;*/
            font-size: 16px;
            cursor: pointer;
            color: #666666;
        }

        .active {
            background: #fac15e;
        }

        .accordion-header {
            border-left-width: 4px !important;
        }

        .accordion-header-selected {
            border-left: 4px solid #15add1 !important;
        }

        .tabs-header {
            padding-top: 0;
        }
       
        .tabs {
            /*height: 82px !important;*/
            height: 90px !important;
        }

        .tabs li { 
            margin:0 !important;
        }
        .tabs li:hover {
            background:#ffffff !important; 
            border-bottom:2px solid #5588de;
        }
        .tabs-inner {
            height: 88px !important;
            border-bottom: none !important;
            padding:0 !important;
        }
        .tabs-inner:hover { 
            background:#ffffff !important;
        }
        .tabs-selected { 
            border-bottom:2px solid #5588de !important;
        }
        .layout-panel-south div{
            background:#e4e4e4;
            height:24px !important;
        }
    </style>
</head>

<body class="easyui-layout sys-main" ng-app="ngApp" ng-controller="mainCtrl" id="mainBody">
    <div data-options="region:'north',border:false" class="sys-main-north">

        <div class="north-center">
            {{code=="01"?"公路工程工地试验室信息管理系统":(code=="02"?"试验机数据联网监控系统":(code=="03"?"拌和站数据实时远程监控系统":""))}}
        </div>
        <div class="north-right">
            @*<div class="dateDiv">
                <div id="date">

                </div>
                <div class="dateDivIn">

                </div>
            </div>

            <a class="north-nav north-nav-user" href="javascript:;" ng-click="topRightFn('per')">个人中心</a>
            <a class="north-nav north-nav-msg" href="javascript:;" ng-click="topRightFn('msg')">信息<span>8</span></a>
            <a class="north-nav north-nav-exit" href="javascript:;" ng-click="topRightFn('exit')">退出</a>*@
           
            <a class="north-nav" href="javascript:;" title="全屏显示" ng-show="!isFullScreen" ng-click="tabBtnFn('full')">
                <i class="fa fa-expand" style="font-size:18px;"></i>
                全屏显示
            </a>
            <a class="north-nav" href="javascript:;" title="退出全屏" ng-show="isFullScreen" ng-click="tabBtnFn('unfull')">
                <i class="fa fa-compress" style="font-size:18px;"></i>
                退出全屏
            </a>

            <a class="north-nav" href="javascript:;" onclick="goback()">
                <i class="fa fa-reply" style="font-size:18px;"></i>
                返回主页
            </a>
           
        </div>
    </div>

    <div data-options="region:'west',split:true,collapsedSize:0,collapsed:false" class="sys-main-west">
        <div class="easyui-accordion" data-options="border:false,fit:true" id="accModule">

        </div>
    </div>

    <div data-options="region:'center'" class="sys-main-center">
        <div id="main-center" class="easyui-tabs" data-options="border:false,fit:true,tabPosition:'top',plain:false,narrow:false,headerWidth:88,tabWidth:100,tabHeight:70,onSelect:function(title,index){selectTabItem(title, index);}">

        </div>
    </div>

    <div data-options="region:'south',collapsedSize:0,collapsed:false" style="height:35px;line-height:30px;padding:0 10px">
        @*<div id="scrollMsg" style="float:right;overflow:hidden;width:180px;color:white;">
            你我携手，共同打造智慧检测!
        </div>*@
    </div>

</body>

</html>

<script src="~/Content/Js/Module/System/sys.main.proindex.js"></script>

<script type="text/javascript">

    //弹窗的高度
    var layoutHeight

    var modulePid = '@ViewBag.ModulePid';
    window.onload = function () {
        //显示日期
        //var dateEle = document.getElementById("date");
        //var data = new Date();
        //var html = data.getFullYear() + "-" + parseInt(data.getMonth() + 1) + "-" + data.getDate();
        //dateEle.innerHTML = html;
    }

    var widthBody = $("body").width(); //body的宽度

    window.onresize = function () {
        widthBody = $("body").width(); //body的宽度(当界面缩放时修改)
    }

    $(function () {
        //下方滚动字幕
        //var width = $("#scrollMsg").width(); //div的宽度
        //var times = -width;
        //$("#scrollMsg").parent().css({
        //    overflow: "hidden"
        //});
        //setInterval(function () {
        //    if (times < widthBody + width) {
        //        times++;
        //        $("#scrollMsg").css({
        //            marginRight: times
        //        })
        //    } else {
        //        times = -width
        //    }
        //}, 30)
    })

    //返回平台主界面
    function goback() {
        location.href = '/MsSys/Main/Index'
    }

</script>