@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Person</title>
</head>
<body>
    <div class="person-row">
        <a class="person-nav person-themes person-themes-blue" href="javascript:;" data-themes="blue"><i class="fa fa-check-circle"></i><span>蓝色主题</span></a>
        <a class="person-nav person-themes person-themes-green" href="javascript:;" data-themes="green"><i class="fa fa-circle"></i><span>绿色主题</span></a>
        <a class="person-nav person-themes person-themes-pink" href="javascript:;" data-themes="pink"><i class="fa fa-circle"></i><span>粉色主题</span></a>
        <a class="person-nav person-themes person-themes-violet" href="javascript:;" data-themes="violet"><i class="fa fa-circle"></i><span>紫色主题</span></a>
        <a class="person-nav person-themes person-themes-gray" href="javascript:;" data-themes="gray"><i class="fa fa-circle"></i><span>灰色主题</span></a>
        <a class="person-nav person-themes person-themes-seagreen" href="javascript:;" data-themes="seagreen"><i class="fa fa-circle"></i><span>洋绿主题</span></a>
        <a class="person-nav person-themes person-themes-sandybrown" href="javascript:;" data-themes="sandybrown"><i class="fa fa-circle"></i><span>沙棕主题</span></a>
        @*<a class="person-nav person-themes person-themes-black" href="javascript:;" data-themes="black"><i class="fa fa-circle"></i><span>黑色主题</span></a>*@
    </div>
</body>
</html>