@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>公路建设项目质量动态管理信息平台</title>
</head>
<body>
    <form class="easyui-form" id="frmMain" method="post"></form>
</body>
</html>
