@using System.Web.Optimization
@using Dos.ORM.WebPC.App_Common.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Components/Animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Components/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />   
    <link href="~/Content/Css/Themes/base.blue.css" rel="stylesheet" />

    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Components/Cookie/jquery.cookie.min.js"></script>
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/Components/EasyUI/locale/easyui-lang-zh_CN.js"></script>

    <script src="~/Content/Js/Base/base.core.js"></script>
    <script src="~/Content/Js/Base/base.loading.js"></script>
</head>
<body class="animated fadeIn">
    @RenderSection("Quber", required: false)

    <!--添加的时候生成KeyId-->
    <input type="hidden" id="addKeyId" value="@Guid.NewGuid()" />

    <!--列表table-->
    <table id="dg"></table>
    @RenderBody()

    <!--表格右键菜单 begin-->
    <div id="menu" class="easyui-menu" data-options="onClick:menuHandler" style="width: 150px;">
        <div data-options="name:'refresh',iconCls:'icon-refresh'">刷新当前数据</div>
        <div data-options="name:'reload',iconCls:'icon-refresh1'">重新载入数据</div>
        <div class="menu-sep"></div>
        <div data-options="name:'pageFirst',iconCls:'icon-first'">首页</div>
        <div data-options="name:'pagePrev',iconCls:'icon-prev'">上一页</div>
        <div data-options="name:'pageNext',iconCls:'icon-next'">下一页</div>
        <div data-options="name:'pageLast',iconCls:'icon-last'">末页</div>
        @*<div data-options="name:'page',iconCls:'icon-grid'">
                <span>翻页控制</span>
                <div style="width: 150px;">
                    <div data-options="name:'pageFirst',iconCls:'icon-first'">首页</div>
                    <div data-options="name:'pagePrev',iconCls:'icon-prev'">上一页</div>
                    <div data-options="name:'pageNext',iconCls:'icon-next'">下一页</div>
                    <div data-options="name:'pageLast',iconCls:'icon-last'">末页</div>
                </div>
            </div>*@
    </div>
    <!--表格右键菜单 end-->
</body>
</html>
<script>
    //获取Guid更新添加的主键Id
    function getGuidForAddKeyId() {
        QBO.plu.ajax({
            url: '/MsSys/Common/GetGuid'
        }, function (data) {
            if (data.Result === 100) {
                $('#addKeyId').val(data.Data);
            }
        });
    }

    //重新加载数据
    function reloadGridData(tbType, isGetGuid) {
        QBO.plu.grid.reload(gridObj, tbType);

        //获取Guid更新添加的主键Id
        if (isGetGuid == undefined || isGetGuid) {
            getGuidForAddKeyId();
        }
    }

    //右键菜单事件
    function menuHandler(item) {
        var pager = gridObj.datagrid('getPager').pagination('options');
        var page = Math.ceil(pager.total / pager.pageSize);

        switch (item.name) {
            case 'refresh':
                reloadGridData();
                break;
            case 'reload':
                queryData();
                break;

            case 'pageFirst':
                gridObj.datagrid('getPager').pagination('select', 1);
                break;
            case 'pagePrev':
                gridObj.datagrid('getPager').pagination('select', pager.pageNumber - 1);
                break;
            case 'pageNext':
                gridObj.datagrid('getPager').pagination('select', pager.pageNumber + 1);
                break;
            case 'pageLast':
                gridObj.datagrid('getPager').pagination('select', page);
                break;
        }
    }
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajaxSetup({
            dataFilter: function (data, type) {
                if (data === '-401') {
                    $.ajaxSetup({
                        beforeSend: function (xhr) {
                            return false;
                        }
                    });

                    QBO.dia.msg("抱歉!登录已超时，请重新登录！", {
                        icon: "info",
                        endCallback: function () {
                            if (window.parent != undefined) {
                                window.parent.location.href = "/MsSys/Login/Index";
                            } else {
                                window.location.href = "/MsSys/Login/Index";
                            }                            
                        }
                    });
                    
                    //$.messager.alert("系统提示", "抱歉!登录已超时，请重新登录！", "info", function () {
                    //    window.location.href = "/MsSys/Login/Index";
                    //});
                }
                else {
                    return data;
                }
            }
        });
    });
</script>
