@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "横幅管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<table id="dg"></table>

<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @Html.ExtAuthBtn()
    </div>
    <div class="row">
        @{
            if (ViewBag.IsSuperAdmin)
            {
                <text>所属公司：</text>
                @Html.ExtComboTree("CompanyId", new { width = 100, url = "/MsSys/Company/GetChooseCompanys", queryParams = "{type:1}", onClick = "companyChg" })
            }
        }
        横幅类型：@Html.ExtDropDown("BannerType", (List<SelectListItem>)ViewBag.BannerTypeIds, new { width = 100, onChange = "bannerTypeChg", valueField = "Value", textField = "Text" })
        标题关键字：@Html.ExtTextBox("txtKeyName", new { width = 100 })
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'BannerInfoId',
        comId;

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            url: '/MsBus/BannerInfo/GetList',
            colFro: [
                { field: gdKeyId, checkbox: true },
                { field: 'BannerInfoName', title: '横幅标题', width: 200, sortable: true, formatter: getBannerImg },
                { field: 'BannerTypeName', title: '横幅类型', width: 200 },
                { field: 'Desc', title: '横幅描述', width: 200 },
                { field: 'IsTop', title: '是否置顶', width: 80, align: 'center', formatter: QBO.plu.grid.formatIf },
                { field: 'IsEnable', title: '是否启用', width: 80, align: 'center', formatter: QBO.plu.grid.formatIf },
                { field: 'CrtTime', title: '添加时间', width: 200, sortable: true }
            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function (data) {
                $("span.eui-opt-banner").imgPreview();
            }
        });
    }

    function initEvent() {
        $('#lbtnAdd').linkbutton({ onClick: function () { doHanlder('add'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });
        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'add':
                QBO.frm.doPage('add', { title: '添加横幅', url: '/MsBus/BannerInfo/Detail', icon: 'picture-o', width: 750, height: 350 });
                break;
            case 'modify':
                QBO.frm.doPage('modify', { title: '修改横幅', url: '/MsBus/BannerInfo/Detail', icon: 'picture-o', width: 750, height: 350, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'view':
                QBO.frm.doPage('view', { title: '查看横幅', url: '/MsBus/BannerInfo/Detail', icon: 'picture-o', width: 750, height: 350, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'search':
                queryData();
                break;
            case 'delete':
                QBO.frm.doPage('delete', { url: '/MsBus/BannerInfo/DeleteData', dgObj: gridObj, keyId: gdKeyId });
                break;
        }
    }

    function getBannerImg(value, row, index) {
        var dataImg = '', userIcon = '';
        if (row.ImgPath != null && row.ImgPath.length > 0) {
            dataImg = ' data-img="' + row.ImgPath + '"';
            userIcon = ' eui-icon icon-image';
        }
        return value + '&nbsp;<span class="eui-opt-banner' + userIcon + '"' + dataImg + '>&nbsp;</span>';
    }

    function bannerTypeChg(newValue, oldValue) {
        queryData();
    }

    //加载公司其下的链接信息分类
    function companyChg(node) {
        comId = node.id;

        loadComBannerTypes();
    }

    function loadComBannerTypes() {
        QBO.plu.ajax({
            url: '/MsBus/BannerInfo/GetBannerTypes',
            data: { comId: comId }
        }, function (data) {
            if (data.Result === 100) {
                $('#BannerType').combobox('loadData', data.Data).combobox('setValue', '');
                //queryData();
            }
        });
    }

    //查询数据
    function queryData() {
        QBO.plu.grid.query(gridObj, {
            comId: comId,
            bannerType: $('#BannerType').combobox('getValue'),
            keyName: $('#txtKeyName').textbox('getValue')
        });
    }
</script>
