@using System.Web.Optimization
@using Dos.ORM.Web.App_Common.Mvc
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Components/Animate/animate.min.css" rel="stylesheet" />
    <link href="~/Content/Components/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Components/EasyUI/themes/bootstrap/easyui.css" rel="stylesheet" />
    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Content/Components/EasyUI/locale/easyui-lang-zh_CN.js"></script>
    @Html.ExtAuthTheme()
    <script src="~/Content/Js/Base/base.core.js"></script>
    <script src="~/Content/Js/Base/base.loading.js"></script>
</head>
<body class="easyui-layout animated fadeIn">
    @RenderSection("Quber", required: false)

    @RenderBody()
</body>
</html>
