@{
    ViewBag.Title = "选择坐标";
    Layout = "~/Views/BasePage/_LayoutMsSysDetailSingle.cshtml";
}
<style>
    #baiduMapPanel { width: 100%; height: 400px; overflow: hidden; margin: 0 auto; }
    .anchorBL { display: none; }
    #curCoor { padding: 10px; font-size: 14px; }
    #curCoor span { font-weight: bold; }
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=B8d6a467349a48113847f2c68c58a59e"></script>
<div id="curCoor">
    <div>当前坐标：</div>
    <div>经度：<span id="spLng"></span>，维度：<span id="spLat"></span></div>
</div>
<div id="baiduMapPanel"></div>
<script type="text/javascript">
    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        $('#spLng').html(QBO.com.getUrlVal('lng'));
        $('#spLat').html(QBO.com.getUrlVal('lat'));
    }

    function initEvent() {
        $('#lbtnSave').on('click', function () {
            var coorData = { lng: $('#spLng').html(), lat: $('#spLat').html() };
            QBO.frm.getWin('lay').setCoor(coorData);
            QBO.frm.closeWin();
        });
    }

    // 百度地图API功能
    var map = new BMap.Map("baiduMapPanel");
    var point = new BMap.Point(QBO.com.getUrlVal('lng').length <= 0 ? 104.095345 : QBO.com.getUrlVal('lng'), QBO.com.getUrlVal('lat').length <= 0 ? 30.56009 : QBO.com.getUrlVal('lat'));
    map.centerAndZoom(point, 12); //初始化地图，设置城市和地图级别
    map.enableScrollWheelZoom(); //启用滚轮放大缩小
    var marker = new BMap.Marker(point); //创建标注
    map.addOverlay(marker); //将标注添加到地图中
    marker.setAnimation(BMAP_ANIMATION_BOUNCE);//跳动的动画
    var top_left_navigation = new BMap.NavigationControl(); //左上角，添加默认缩放平移控件
    var top_right_navigation = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_SMALL }); //右上角，仅包含平移和缩放按钮
    map.addControl(top_left_navigation);
    map.addControl(top_right_navigation);

    //var sContent = '我是提示信息';
    //var infoWindow = new BMap.InfoWindow(sContent); // 创建信息窗口对象
    marker.addEventListener("click", function (e) {
        //    this.openInfoWindow(infoWindow);
        //    //图片加载完毕重绘infowindow
        //    document.getElementById('frameWin').onload = function () {
        //        infoWindow.redraw(); //防止在网速较慢，图片未加载时，生成的信息框高度比图片的总高度小，导致图片部分被隐藏
        //    }
    });
    map.addEventListener("click", function (e) {
        $('#spLng').html(e.point.lng);
        $('#spLat').html(e.point.lat);
    });
</script>