@model List<Dos.ORM.Model.Business.TW_SYJZBDto>
@{


    Layout = "";

}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>
        批量打印
    </title>
    <link href="~/Content/Css/Areas/MsSys/style.css" rel="stylesheet" />
    <link href="~/Content/Css/Areas/MsSys/ReportFormStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Content/Js/MsSys/BhzDtl/iframeResizer.min.js"></script>
    <script src="~/Content/Components/EasyUI/jquery.easyui.min.js"></script>
    <script src="~/Scripts/dismrclick.js"></script>
    <script src="~/Content/Js/Module/Business/functions.js"></script>
    <script src="~/Content/Components/AngularJS/angular.min.js"></script>
    <script src="~/Content/Js/MsSys/BhzDtl/kx.core.js"></script>
  
    <style>
        html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
            margin: 0;
            padding: 0;
        }

        body {
            background: #c0c2cc;
        }

        @* @modia print {
            .noprint {
                display: none;
            }

            .print-panel {
                page-break-after: always;
            }
        }

        *@ .print-panel .frame-iframe {
            width: 100%;
            border-width: 0;
        }

        .print-panel {
            margin: 0 auto;
            width: 740px;
            margin-top: 10px;
            padding: 10px;
            box-sizing: content-box;
            background: white;
        }


        .noprint {
            height: 50px;
            line-height: 50px;
            text-align: center;
            overflow: hidden;
            width: 100%;
            background-color: #f2f2f2;
            color: #696969;
        }

            .noprint .radio-inline {
                height: 30px;
                line-height: 30px;
                display: inline-block;
            }

            .noprint a:link {
                display: inline-block;
                color: #696969;
                border: 1px solid #c2c2c2;
                height: 30px;
                line-height: 30px;
                padding: 0 10px;
            }

            .noprint a:hover {
                border-color: #50b9ff;
                color: #50b9ff;
            }

        .fixNoprint {
            position: fixed;
            top: 0px;
        }

        table td {
            overflow: hidden;
            padding: 0;
        }

        .TableHead {
            height: 24px;
            line-height: 24px;
        }

            .TableHead font {
                letter-spacing: 1px;
            }

        .prt-panel {
            width: 740px;
            margin: 0 auto;
            page-break-after: always;
        }

        /*单独的printPage样式*/
        .printPage {
            padding: 20px 20px 30px 40px;
            background: white;
        }
    </style>

    <script>
        function beginLoading() {
            $('#loadMsg').show();
        }
        function endLoading() {
            $('#loadMsg').fadeOut();
        }
        beginLoading();
    </script>
</head>
<body ng-app="ngApp" ng-controller="pageCtrl" ng-cloak class="ng-cloak"> 
    <div id="title" class="noprint fixNoprint">
        <a href="javascript:;"   onclick="printWt()" id="lbtnPrint"><i class="fa fa-print"></i>打印</a>
        <a href="javascript:KXO.frm.closeWin();"  ><i class="fa fa-times"></i>关闭</a>
    </div>
    <div id="tem" style="width:100%;margin-bottom:50px;">

    </div>
    @foreach (var item in @Model)
    {
        <div class="luoliang" style="width:700px;margin:20px auto 30px;padding:0px 5px   ; background:#FFFFFF; "  >
            <iframe name="mainFrame" src="/MsSys/SyjDtl/@item.Url.Split('.')[0]?syjid=@item.SYJID&orgId=@ViewBag.orgId&syjapi= @ViewBag.syjapi" frameborder="0" scrolling="no" style="width:100%;border: none;height:1020px" onload="SetDatas()"></iframe>
        </div>
    }

</body>
</html>
<script>
    function SetDatas() {
     
        $('canvas').each(function () {
            alert('f');
            $(this).css('height','240px').css('width','485px');
        });
    }
    function printWt() {

        
        $('#title').height(0);
        $('.luoliang').css('margin', '0 auto');
        $('#tem').height(0).css('margin-bottom','0'); 
        window.print();
        window.close();
        $('#title').height(50);
        $('.luoliang').css('margin', '20px auto 30px');
        $('#tem').css('margin-bottom', '50px');
    };

    var ngApp = angular.module('ngApp', []);
    KXO.plu.ng.listenRepeat(ngApp);
    ngApp.config(function ($httpProvider) {
        KXO.plu.ng.noCache($httpProvider);
    });

    //自定义指令：根据报告和记录地址获取其html内容
    ngApp.directive('rptFin', function () {
        return {
            link: function (scope, element, attr) {
                console.log(attr.rptFin);
                return;

                //$last为true时，ng-repeat渲染完毕
                if (scope.$last == true) {
                    $.get(attr.rptFin, function (data) {
                        var thisHtml = data.replace(/100%/g, '99%');
                        $(element).html(data);

                        //$('#lbtnPreLoading').hide();
                        //$('#lbtnPrint').show();
                    });
                } else {
                    $.get(attr.rptFin, function (data) {
                        var thisHtml = data.replace(/100%/g, '99%');
                        $(element).html(data);
                    });
                }

            }
        }
    });

    ngApp.controller('pageCtrl', function ($scope, $http, $timeout) {
        //是否显示设置选项
        //报告页面
        $scope.isShowPage0 = true;
        //封面页面
        $scope.isShowPage1 = false;
        $scope.isShowPage2 = false;
        $scope.isShowPage3 = false;

        //报告ID集合
        var rptRowsIds = [];
        $scope.rptIds = [];
        $scope.rptBgFmIds = [];//报告封面

        var rptRows = KXO.frm.getWin().KXO.plu.gridView.getChk();
        for (var i = 0; i < rptRows.length; i++) {
            rptRowsIds.push('\'' + rptRows[i]['序号'] + '\'');
            $scope.rptIds.push('\'' + rptRows[i]['序号'] + '\'');

            var bg1 = { Id: rptRows[i]['序号'], page: 1, thisUrl: "/Module/Report/TheCoverPrint.aspx?key=" + rptRows[i]['序号'] + "&page=1" };
            var bg2 = { Id: rptRows[i]['序号'], page: 2, thisUrl: "/Module/Report/TheCoverPrint.aspx?key=" + rptRows[i]['序号'] + "&page=2" };
            var bg3 = { Id: rptRows[i]['序号'], page: 3, thisUrl: "/Module/Report/TheCoverPrint.aspx?key=" + rptRows[i]['序号'] + "&page=3" };
            $scope.rptBgFmIds.push(bg1);
            $scope.rptBgFmIds.push(bg2);
            $scope.rptBgFmIds.push(bg3);
        }

        KXO.plu.ng.http({
            http: $http, isLoad: false, url: 'GetData.ashx', params: { action: 'GetRptPrints', rptIds: rptRowsIds.join(',') }
        }, function (data) {
            var rptNewList = [],//所有报告和记录
                rptNews = [], //所有的报告
                rptJlList = [];//所有记录
            //重新设置url
            for (var i = 0; i < data.length; i++) {
                var itemRpt = data[i];
                //报告封面
                for (var n = 0; n < $scope.rptBgFmIds.length; n++) {
                    if ($scope.rptBgFmIds[n].Id == itemRpt.序号) {
                        rptNews.push($scope.rptBgFmIds[n]);
                        rptNewList.push($scope.rptBgFmIds[n]);
                    }
                }
                itemRpt.thisType = 1;//1：报告、2：记录
                itemRpt.thisUrl = itemRpt.ReportUrl + '?syid=' + itemRpt.序号 + '&state=p&syid1=' + itemRpt.序号 + '' + "&isbg=1&rn=" + Math.random();
                itemRpt.thisUrl = '../hwe' + itemRpt.thisUrl.replace('../', '/');
                itemRpt.page = 0;

                rptNews.push(itemRpt);
                rptNewList.push(itemRpt);

                for (var j = 0; j < itemRpt.JcRpts.length; j++) {
                    var itemJl = itemRpt.JcRpts[j];
                    //报告封面
                    for (var k = 0; k < $scope.rptBgFmIds.length; k++) {
                        if (j == 0 && $scope.rptBgFmIds[k].Id == itemJl.综合报告序号) {
                            rptJlList.push($scope.rptBgFmIds[k]);
                        }
                    }
                    itemJl.thisType = 2;//1：报告、2：记录
                    itemJl.thisUrl = itemJl.RecordUrl + '?syid=' + itemJl.综合报告序号 + '&state=p&syid1=' + itemJl.序号 + "&isbg=0&rn=" + Math.random();
                    itemJl.thisUrl = '../hwe' + itemJl.thisUrl.replace('../', '/');
                    itemJl.page = 0;

                    rptJlList.push(itemJl);
                    rptNewList.push(itemJl);
                }
            }

            $scope.allBgs = rptNews;
            $scope.allJls = rptJlList;
            $scope.allBgJls = rptNewList;

            $scope.jcRptList = $scope.printType == 1 ?
                $scope.allBgs :
                $scope.printType == 2 ? $scope.allJls : $scope.allBgJls;
        });

        $scope.iframeFinishFn = function () {
            //设置iframe的高度
            $('iframe').iFrameResize({
                autoResize: true,
                heightCalculationMethod: 'bodyScroll'
            });
        };

        //默认显示的类型 1：报告、2：记录、3：报告和记录
        $scope.printType = 1;//默认只显示报告
        $scope.setPrintType = function (type) {
            //$('#lbtnPreLoading').show();
            //$('#lbtnPrint').hide();

            $scope.printType = type;

            $scope.jcRptList = $scope.printType == 1 ?
                $scope.allBgs :
                $scope.printType == 2 ? $scope.allJls : $scope.allBgJls;
        };

        //打印


    });

    //修改iframe中的样式
    function changePrintPage(a) {
        //console.log(111);
        endLoading();
        $(a).contents().find(".printPage").css({
            background: "white",
            boxShadow: "none"
        });

        //input内容超出处理
        $(a).contents().find("td input[type='text']").each(function () {
            var value = $(this).val();
            var inputWidth = $(this).width();
            var valueWidth = textWidth(value);
            if (inputWidth < valueWidth) {
                $(this).parent().html(value);
            }
        });

    }

    //获取文本宽度
    var textWidth = function (text) {
        var sensor = $('<pre>' + text + '</pre>').css({ display: 'none' });
        $('body').append(sensor);
        var width = sensor.width();
        sensor.remove();
        return width;
    };

</script>
