@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "日志报表管理";
    Layout = "~/Views/BasePage/_LayoutMsSysEmpty.cshtml";
}
<script src="~/Content/Components/ECharts/Js/echarts.min.js"></script>
<script src="~/Content/Components/ECharts/Themes/vintage.js"></script>

<div data-options="region:'north',border:false" class="frm-empty">
    <div class="frm-row">
        <a href="javascript:;" class="easyui-linkbutton" id="lbtnView" data-options="iconCls:'fa fa-info-circle',plain:true">查看</a><a href="javascript:;" class="easyui-linkbutton" id="lbtnDelete" data-options="iconCls:'fa fa-times-circle',plain:true">删除</a><a href="javascript:;" class="easyui-linkbutton" id="lbtnSearch" data-options="iconCls:'fa fa-search-plus',plain:true">查询</a>

    </div>
    <div class="frm-row">
        @{
            if (ViewBag.IsSuperAdmin)
            {
                <text>所属公司：</text>
                @Html.ExtDropDownC("ComId", new { width = 100, url = "/MsSys/Company/GetCompanyList", queryParams = "{curComId:'',haveComId:1}", onChange = "onSelectChg" })
            }
        }
        日志类型：
        @Html.ExtDropDown("LogTypeName", (SelectList)ViewBag.LogTypeNames, new { width = 100, onChange = "onSelectChg" })
        操作类型：
        @Html.ExtDropDown("OptTypeName", (SelectList)ViewBag.OptTypeNames, new { width = 100, onChange = "onSelectChg" })
        操作结果：
        @Html.ExtDropDown("OptResultName", (SelectList)ViewBag.OptResultNames, new { width = 100, onChange = "onSelectChg" })
        操作模块名称：@Html.ExtTextBox("txtKeyName", new { width = 100 })
    </div>
</div>
<div data-options="region:'center',border:false" style="padding: 10px; background: #eee;">
    <div id="main" style="width: 100%;height:500px;"></div>
</div>

<script>
    var seriesList = [];
    var rptCht = echarts.init(document.getElementById('main'));

    $(function () {
        QBO.plu.ajax({
            url: '/MsSys/LogReport/GetLogRpt'
        }, function (data) {
            //console.log(JSON.stringify(data));

            setChtData(data);


        });
    });

    function setChtData(data) {
        for (var i = 0; i < data.length; i++) {
            if (data[i].length > 0) {
                var tmpCht = {
                    name: data[i][0].UserName,
                    type: 'line',
                    data: []
                };
                for (var j = 0; j < data[i].length; j++) {
                    tmpCht.data.push(data[i][j].LogCount);
                }
                seriesList.push(tmpCht);
            }
        }

        var option = {
            title: {
                text: '堆叠区域图'
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                //data: ['邮件营销', '联盟广告', '视频广告', '直接访问', '搜索引擎']
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: [
                {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: seriesList
        };

        rptCht.setOption(option);
    }

    function onSelectChg(newValue, oldValue) {
        //queryData();
    }
</script>