<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>jQuery+CSS3动态图文幻灯片</title>


    <link type="text/css" rel="stylesheet" href="css/base.css" />

    <!--必要文件-->
    <link type="text/css" rel="stylesheet" href="css/flexslider.css" />
    <!--<link href="../Flexslider/flexslider.css" rel="stylesheet" />-->
    <!--<script type="text/javascript" src="js/jquery.min.js"></script>-->
    <script src="/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="js/jquery.flexslider-min.js"></script>
    <!--<script src="../Flexslider/jquery.flexslider.min.js"></script>-->
    <script type="text/javascript">
        $(function () {
            $(".flexslider").flexslider({});
        });
    </script>

</head>
<body>

    <div class="flexslider" style="width:600px;margin:40px auto 0 auto;position:relative;overflow:hidden;">
        <ul class="slides">
            <li>
                <img src="slider/lrgimg4.jpg" alt="" />
                <div style="position: absolute; top:70px; left:45px;; width:70%; height:400px;">
                    <div class="slide_content_left"><h2>Cya, Mary!</h2></div>
                    <div class="slide_desc_left">Hamburg, Germany( Photo <a href="http://www.17sucai.com/">By Zanthia </a> )</div>
                </div>
            </li>
            <li>
                <img src="slider/lrgimg5.jpg" alt="" />
                <div class="slide_content_right"><h2>Harbour buildings </h2></div>
                <div class="slide_desc_right">Hamburg,Germany( Photo <a href="http://www.17sucai.com/">By Zanthia </a> )</div>
            </li>
            <li>
                <img src="slider/lrgimg2.jpg" alt="" />
                <div class="slide_content_left"><h2>Osaka  Airport</h2></div>
                <div class="slide_desc_left">Osaka, Japan</div>
            </li>
            <li>
                <img src="slider/lrgimg6.jpg" alt="" />
                <div class="slide_content_right"><h2>Piha, New Zealand</h2></div>
                <div class="slide_desc_right">Piha, New Zealand ( Photo <a href="http://www.17sucai.com/">By Zanthia </a> )</div>
            </li>
        </ul>
    </div>

</body>
</html>