@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "模块管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @Html.ExtAuthBtn()
    </div>
    <div class="row">
        模块类型：
        @Html.ExtDropDown("ModuleType", (SelectList)ViewBag.ModuleTypes, new { width = 100, onChange = "moduleTypeChg" })
        模块名称：@Html.ExtTextBox("txtKeyName", new { width = 100 })
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'ModuleId';

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            url: '/MsSys/Module/GetList',
            idField: gdKeyId,
            treeField: 'ModuleName',
            pageSize: 1000,
            col: [
                { field: gdKeyId, checkbox: true },
                { field: 'ModuleName', title: '模块名称', width: 200, sortable: true },
                { field: 'ModuleType', title: '模块类型', width: 200, formatter: setModuleType },
                { field: 'ModulePath', title: '模块路径', width: 200 },
                { field: 'IconName', title: '模块图标', width: 200, formatter: setIcon },
                { field: 'IsExpand', title: '是否展开', width: 80, align: 'center', formatter: QBO.plu.grid.formatIf },
                { field: 'IsEnable', title: '是否启用', width: 80, align: 'center', formatter: QBO.plu.grid.formatIf },
                { field: 'SortNo', title: '模块序号', width: 200, sortable: true },
                { field: 'Desc', title: '模块描述', width: 200 },
                { field: 'CrtTime', title: '添加时间', width: 200, sortable: true }
            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function () { gridObj.treegrid('collapseAll'); }
        }, 'tg');
    }

    function initEvent() {
        $('#lbtnAdd').linkbutton({ onClick: function () { doHanlder('add'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });
        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'add':
                QBO.frm.doPage('add', { title: '添加模块', url: '/MsSys/Module/Detail', icon: 'tasks', width: 1200 });
                break;
            case 'modify':
                QBO.frm.doPage('modify', { title: '修改模块', url: '/MsSys/Module/Detail', icon: 'tasks', dgObj: gridObj, keyId: gdKeyId, width: 1200 });
                break;
            case 'view':
                QBO.frm.doPage('view', { title: '查看模块', url: '/MsSys/Module/Detail', icon: 'tasks', dgObj: gridObj, keyId: gdKeyId, width: 1200 });
                break;
            case 'search':
                queryData();
                break;
            case 'delete':
                QBO.frm.doPage('delete', { url: '/MsSys/Module/DeleteData', dgObj: gridObj, keyId: gdKeyId }, 'tg');
                break;
        }
    }

    function setModuleType(value, row, index) {
        return value == 100 ? '系统' : value == 101 ? '业务' : '其他';
    }

    function setIcon(value, row, index) {
        return value == null || value.length <= 0 ? '' : '<span class="eui-icon ' + value + '">&nbsp;</span>&nbsp;' + value;
    }

    //下拉值改变事件
    function moduleTypeChg(newValue, oldValue) {
        queryData();
    }

    //查询数据
    function queryData() {
        QBO.plu.grid.query(gridObj, {
            moduleType: $('#ModuleType').combobox('getValue'),
            keyName: $('#txtKeyName').textbox('getValue')
        }, 'tg');
    }
</script>
