@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "选择人员";
    Layout = "~/Views/BasePage/_LayoutMsSysDetailNg.cshtml";
}

<style>
    .sel-oper { overflow: hidden; }
    .sel-oper .oper-one { padding: 2px 5px; border: 1px dashed #e4e4e4; margin: 5px 5px; display: inline-block; float: left; width: 110px; overflow: hidden; }
    .sel-oper .oper-one:hover { border: 1px solid #e4e4e4; }
    .sel-oper .oper-one .one-ipt { vertical-align: bottom; }
    .sel-oper .oper-nodata { height: 25px; line-height: 25px; display: inline-block; color: #adadad; margin: 5px; }
</style>

<table class="frm-tb frm-tb-no-tdborder">
    <tbody>
        <tr>
            <td>部门名称：</td>
            <td>
                {{selPostObj.PostName}}
            </td>
        </tr>
        @{
            if (ViewBag.IsSuperAdmin)
            {
                <tr>
                    <td>所属公司：</td>
                    <td>
                        @Html.ExtComboTree("CompanyId", new { width = 325, url = "/MsSys/Company/GetChooseCompanys", queryParams = "{type:1,firstText:'请选择公司...'}", onClick = "companyChg" })
                    </td>
                </tr>
            }
        }
        <tr>
            <td>所有人员：</td>
            <td>

                <div class="sel-oper">

                    <span class="oper-nodata" ng-if="!opers||opers.length<=0">暂无人员数据！</span>
                    <label class="oper-one" ng-repeat="item in opers">
                        <input type="checkbox" name="selOper" class="one-ipt" ng-checked="item.ThisCount>0" ng-click="chkOpersFn(item,$event)" />
                        {{item.Realname&&item.Realname.length>0?item.Realname:item.Account}}
                    </label>

                </div>

            </td>
        </tr>
    </tbody>
</table>

<script>
    var ngApp = angular.module('ngApp', [], QBO.plu.ng.postReg);
    ngApp.controller('ngCtrl', function ($scope, $http) {
        //父窗体表格勾选对象
        $scope.selPostObj = QBO.frm.getWin().QBO.plu.grid.get(QBO.frm.getWin().$('#dg'), QBO.frm.getWin().gdKeyId).obj[0];

        //已选人员
        $scope.selectOpers = [];

        //初始化人员数据
        $scope.initPostOpers = function (comId) {
            QBO.plu.ng.http({ http: $http, isLoad: false, url: '/MsSys/Post/GetPostOperators', params: { comId: comId, postId: $scope.selPostObj.PostId } }, function (data) {
                $scope.opers = data;

                //初始化已选人员集合
                for (var i = 0; i < $scope.opers.length; i++) {
                    if ($scope.opers[i].ThisCount > 0) {
                        $scope.selectOpers.push($scope.opers[i]);
                    }
                }

                //console.log(JSON.stringify($scope.selectOpers));
            });
        };

        $scope.initPostOpers();

        //复选框点击事件（获取已选人员集合）
        $scope.chkOpersFn = function (row, event) {
            var selectIndex = $scope.selectOpers.indexOf(row);

            if ($(event.target).is(':checked')) {
                if (selectIndex == -1) {
                    $scope.selectOpers.push(row);
                }
            } else {
                if (selectIndex > -1) {
                    $scope.selectOpers.splice(selectIndex, 1);
                }
            }
        };

        $scope.selectData = function (event) {
            if (!$scope.selectOpers || $scope.selectOpers.length <= 0) {
                QBO.dia.msg('请选择需要设置的人员', 'error');
                return;
            }

            QBO.plu.ng.http({ http: $http, method: 'POST', isLoad: false, url: '/MsSys/Post/SavePostOperators', params: { postId: $scope.selPostObj.PostId }, data: { opers: $scope.selectOpers } }, function (data) {
                QBO.dia.msg(data.Msg, {
                    icon: data.Result === 100 ? 'right' : 'error',
                    endCallback: function () {
                        if (data.Result === 100) { QBO.frm.closeWin(function () { QBO.frm.getWin().reloadGridData(); }); }
                    }
                });
                //console.log(JSON.stringify($scope.selectOpers));
            });
        };
    });

    function companyChg(node) {
        var appElement = document.querySelector('[ng-controller=ngCtrl]');
        var $scope = angular.element(appElement).scope();

        if (node.id && node.id.length > 0) {
            $scope.initPostOpers(node.id);
        } else {
            $scope.opers = [];
            $scope.$apply();

            QBO.dia.msg('请选择具体公司！', 'error');
        }
    }
</script>