@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("系统登录", "Index", new { area = "MsSys", controller = "Login" })
 
        
        
        <a href="/Home/DownFile?filePath=/content/等级试验室信息管理系统功能及报价定义20161108v2.docx&fileName=测试.doc">下载</a>  
        

    </div>
</body>
</html>
<script>
    onload = function () {
        //location.href = '/MsSys/Login';
    };
</script>

