@using Dos.ORM.Web.App_Common.Mvc
@{
    Layout = null;
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";  
}

@using Dos.ORM.Model.Business

<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @Html.ExtAuthBtn()
    </div>
    <div class="row">

        试验室：
        <select id="F_OrganID" class="easyui-combobox" style="width:180px"
                data-options="editable:false,required:false,
                onSelect: function(rec){
                    paramsData.OrganID=rec.value;
                 }">
            <option value="@Guid.Empty">--全部--</option>
            @foreach (var item in ((ViewBag.OrganCode) as List<BUS_Laboratory>))
            {
                <option value="@item.OrganID">@item.OrganShorName</option>
            }
        </select>

    </div>
</div>


<script>

    var gridObj, gdKeyId = 'ID', paramsData = { OrganID: '' }

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        //paramsData.OrganID = $('#F_OrganID').combobox('getValue');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            queryParams: paramsData,
            url: '/MsManage/Module/GetBhzList',
            idField: gdKeyId,
            treeField: 'BlendName',
            animate:true,
            pagination:false,
            col: [
                { field: gdKeyId, checkbox: true },
                {
                    field: 'BlendName', title: '拌合站/机名称', width: 200,
                    formatter: function (value, row, index) {
                        var r_val = "";

                        if (row.ParentID == null) {
                            r_val = value + "_(" + row.OrganName + ")";
                        } else {
                            r_val = value;
                        }


                        return r_val;
                    }
                },
                { field: 'BlendNO', title: '拌合站/机编号', width: 150 },
                { field: 'Memo', title: '备注', width: 200 }
            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function () {
            
            }
        }, 'tg');
    }

    function initEvent() {
        $('#lbtnAdd').linkbutton({ onClick: function () { doHanlder('add'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });
        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'add':
                QBO.frm.doPage('add', { title: '添加', url: '/MsManage/Module/BhzDetail', icon: 'tasks', width: 600, height: 350 });
                break;
            case 'modify':
                QBO.frm.doPage('modify', { title: '修改', url: '/MsManage/Module/BhzDetail', icon: 'tasks', dgObj: gridObj, keyId: gdKeyId, width: 600, height: 350 });
                break;
            case 'view':
                QBO.frm.doPage('view', { title: '查看', url: '/MsManage/Module/BhzDetail', icon: 'tasks', dgObj: gridObj, keyId: gdKeyId, width: 600, height: 350 });
                break;
            case 'search':
                queryData();
                break;
            case 'delete':
                QBO.frm.doPage('delete', { url: '/MsManage/Module/BhzDelete1', dgObj: gridObj, keyId: gdKeyId }, 'tg');
                break;
            case 'delete_bak':
                var selectedRow = QBO.plu.grid.get(gridObj, gdKeyId, 'tg');
                console.log(JSON.stringify(selectedRow))
                if (selectedRow.obj.length <= 0) {
                    QBO.dia.msg('请勾选需要删除的数据！', { shift: 6, icon: 'error', time: 2000 });
                    return;
                }
                deleteData(selectedRow.str);
                break;
        }
    }

    //查询数据
    function queryData() { 
        QBO.plu.grid.query(gridObj, paramsData, 'tg');
    }
    
    //下拉值改变事件
    function btnOrganCodeChg() {

        console.log(1111)
        //queryData();
    }

    //删除数据
    function deleteData(ID) {
        QBO.plu.ajax({
            doType: '删除',
            url: '/MsManage/Module/BhzDelete',
            data: { ID: ID }
        }, function (data) {
            //定义提示信息和图标
            var retTip = data.Result === 100 ? '删除成功！' : '删除失败，请稍后再试！',
                retIcon = data.Result === 100 ? 'right' : 'error';

            QBO.dia.msg(retTip, {
                icon: retIcon,
                endCallback: function () {
                    if (data.Result === 100) {
                        //刷新列表数据
                        gridObj.datagrid('reload');
                    }
                }
            });
        });
    }

</script>

