@using Dos.ORM.Web.App_Common.Mvc
@{
    ViewBag.Title = "按钮管理";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}
<div id="toolBarMain" class="list-toolbar">
    <div class="row">
        @Html.ExtAuthBtn()
    </div>
    <div class="row">
        按钮类型：
        @Html.ExtDropDown("ButtonType", (SelectList)ViewBag.ButtonTypes, new { width = 100, onChange = "buttonTypeChg" })
        按钮名称：@Html.ExtTextBox("txtKeyName", new { width = 100 })
    </div>
</div>
<script>
    var gridObj, gdKeyId = 'ButtonId';

    $(function () {
        initData();
        initEvent();
    });

    function initData() {
        gridObj = $('#dg');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            url: '/MsSys/Button/GetList',
            col: [
                { field: gdKeyId, checkbox: true, title: '选择' },
                { field: 'ButtonName', title: '按钮名称', width: 200, sortable: true },
                { field: 'ButtonIdName', title: '按钮Id', width: 200 },
                { field: 'MarkName', title: '标识名称', width: 200 },
                { field: 'IconName', title: '按钮图标', width: 200, formatter: setIcon },
                { field: 'SortNo', title: '排序号', width: 200 },
                { field: 'Desc', title: '按钮描述', width: 200 },
                { field: 'CrtTime', title: '添加时间', width: 200, sortable: true }
            ],
            toolbar: 'toolBarMain'
        });
    }

    function initEvent() {
        $('#lbtnAdd').linkbutton({ onClick: function () { doHanlder('add'); } });
        $('#lbtnModify').linkbutton({ onClick: function () { doHanlder('modify'); } });
        $('#lbtnView').linkbutton({ onClick: function () { doHanlder('view'); } });
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
        $('#lbtnDelete').linkbutton({ onClick: function () { doHanlder('delete'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'add':
                QBO.frm.doPage('add', { title: '添加按钮', url: '/MsSys/Button/Detail', width: 850,height:370 });
                break;
            case 'modify':
                QBO.frm.doPage('modify', { title: '修改按钮', url: '/MsSys/Button/Detail', width: 850, height: 370, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'view':
                QBO.frm.doPage('view', { title: '查看按钮', url: '/MsSys/Button/Detail', width: 850, height: 370, dgObj: gridObj, keyId: gdKeyId });
                break;
            case 'search':
                queryData();
                break;
            case 'delete':
                QBO.frm.doPage('delete', { url: '/MsSys/Button/DeleteData', dgObj: gridObj, keyId: gdKeyId });
                break;
        }
    }

    //设置图标
    function setIcon(value, row, index) {
        return '<span class="eui-icon ' + value + '">&nbsp;</span>&nbsp;' + value;
    }

    function buttonTypeChg(newValue, oldValue) {
        queryData();
    }

    function queryData() {
        QBO.plu.grid.query(gridObj, {
            buttonType: $('#ButtonType').combobox('getValue'),
            keyName: $('#txtKeyName').textbox('getValue')
        });
    }
</script>
