@{
    ViewBag.Title = "BasicIndex";
    Layout = "~/Views/BasePage/_LayoutMsSysEmpty.cshtml";
}

<script src="~/Content/Components/AngularJS/angular.min.js"></script>

<style>
    body {
        padding: 0px;
        margin: 0px;
        overflow: auto !important;
    }

    .fth td {
        font-size: 14px;
        border-top-color: currentColor;
        border-top-width: 0px;
        border-top-style: none;
        background: #dce7e9;
        color: #213848;
        border-right: 1px solid #fff;
        text-align: center;
        vertical-align: bottom;
        padding: 8px;
        line-height: 1.4285;
        font-weight: bold;
    }

    .xzyp_t {
        padding: 20px;
        border: 1px solid #dedede;
        border-radius: 8px 8px 0 0;
    }

    .table {
        width: 90%;
        border: 0px solid #dedede;
        font-size: 12px;
        color: #1f3948;
    }

        .table tr td {
            height: 30px;
            line-height: 30px;
        }

    table tr td {
        border-bottom: 1px solid #e1e1e1;
    }

    .table tr td span {
        color: #666;
    }

    .table .t_tit {
        padding: 10px 0;
        border-bottom: 3px solid #bbe2e9;
    }


    #qysm {
        font-size: 12px;
        padding-bottom: 30px;
    }

    .btn-info {
        background: #00c1de;
        padding: 6px 40px;
    }

        .btn-info:hover {
            background: #00c1de;
        }


    .input-group-addon {
        background: #00c1de;
        color: white;
        cursor: pointer;
        border-radius: 0;
        margin-left: 5px !important;
    }

    .secondTitle {
        padding: 6px 30px;
        width: 95%;
    }

    .kx-sort-con {
        padding: 0 !important;
    }

    .kx-frm-gd {
        margin: 0;
    }

    .input-group-addon {
        padding: 4px 20px;
    }

    .kx-head {
        background: #e5f0f2;
        color: #8b8b8b;
    }

    .bestArrange {
        margin-left: 14px;
    }
</style>


<div id="toolBarMain" class="list-toolbar" ng-app="pageApp" ng-controller="pageCtrl" style="margin-top:20px;">

    <div class="row">
        <table class="table">
            <tbody>
                <tr>
                    <td align="right" style="width: 20%;border-bottom:none;">工地试验室名称：</td>
                    <td align="left" colspan="3">
                        <span>{{model.OrganName}}</span>
                    </td>
                <tr>
                    <td align="right" style="border-bottom:none;"><font color="red"></font>授权机构：</td>
                    <td align="left" colspan="3">
                        <span style="width:90%;">{{model.CompanyName}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="width: 20%;border-bottom:none;">等级证书：</td>
                    <td align="left" style="width: 30%;">
                        <span selectionmode="Multiple" style="width:72.66666%;">{{model.CompanyCertificate}}</span>
                    </td>
                    <td align="right" style="border-bottom:none;">证书编号：</td>
                    <td align="left" style="width: 30%;">
                        <span style="width:72.66666%;">{{model.CertificateCode}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="border-bottom:none;"><font color="red"></font>工地试验室设立日期：</td>
                    <td align="left">
                        <span dataitemtype="DateTime" style="width:100%;">{{model.LabCreateDate | date_str}}</span>
                    </td>
                    <td align="right" style="border-bottom:none;"><font color="red"></font>试验检测工程师(人)：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.EngineerNumber}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="border-bottom:none;"><font color="red"></font>试验检测员(人)：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.TestNumber}}</span>
                    </td>
                    <td align="right" style="border-bottom:none;"><font color="red"></font>试验检测用房总面积(m<sup>2</sup>)：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.Area}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="border-bottom:none;">授权负责人：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.DirectorName}}</span>
                    </td>
                    <td align="right" style="border-bottom:none;">证书编号：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.DirectorCertificate}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="border-bottom:none;">职称：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.Title}}</span>
                    </td>
                    <td align="right" style="border-bottom:none;">联系电话：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.Mobile}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="border-bottom:none;">工地试验室地址：</td>
                    <td align="left" colspan="3">
                        <span style="width:90%;">{{model.Add}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="border-bottom:none;">邮编：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.Code}}</span>
                    </td>
                    <td align="right" style="border-bottom:none;">联系电话：</td>
                    <td align="left">
                        <span style="width:72.66666%;">{{model.Tel}}</span>
                    </td>
                </tr>
                <tr>
                    <td align="right" style="border-bottom:none;">授权业务范围：</td>
                    <td align="left" colspan="3">
                        <span textmode="MultiLine" style="height:100px;width:89.66666%;">{{model.BusinessRange}}</span>
                    </td>
                </tr>


            </tbody>
        </table>

    </div>


</div>



<script type="text/javascript">

    var paramsData = { LoadApi: '@ViewBag.LoadApi', TargetId: '@ViewBag.TargetId' }

    //初始化Angular
    var pageApp = angular.module('pageApp', []);
    pageApp.controller('pageCtrl', function ($scope, $http, $timeout) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $timeout);
    });
    pageApp.filter('date_str', function () {
        return function (d) {
            if (d == null || d == undefined || d == "") {
                return "-";
            }
            var date = new Date(d);
            if (date.getFullYear() < 1950)
                return "-";
            var fff = function (s) { return s < 10 ? "0" + s : "" + 10; }
            var format = date.getFullYear() + "-" + fff(date.getMonth() + 1) + "-" + fff(date.getDate());
            return format;
        }
    });


    //初始化ng数据
    function initNgData($scope, $http) {
        $scope.model = {};
        QBO.plu.ng.http({ http: $http, isLoad: true, chkLogin: true, url: '/MsSys/Module/GetLab', params: paramsData }, function (result) {
            $scope.model = result;
            $scope.model.LabCreateDate = new Date($scope.model.LabCreateDate)
            //console.log(JSON.stringify($scope.model));
        });
    }

    //初始化ng事件
    function initNgEvent($scope, $http, $timeout) {
        $scope.loadData = function () {
            initNgData($scope, $http);
        }
    }

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        var appElement = document.querySelector('[ng-controller=pageCtrl]');
        var $scope = angular.element(appElement).scope();
        paramsData.LoadApi = 1;
        paramsData.TargetId = data.TargetId;
        $scope.loadData();
    }


</script>