@{
    ViewBag.Title = "Report2Index";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}

<div id="toolBarMain" class="list-toolbar">

    <div class="row">

        报告日期: <input id="F_StartDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />

        至<input id="F_EndDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />
        
        试验类型：
        <select id="F_SampleType" name="SampleType" class="easyui-combobox" style="width: 150px;"
                data-options="
                                    url:'\\MsSys\\Module\\GetSampleType',
                                    method:'get',
                                    valuefield:'value',
                                    textfield:'text',
                                    groupField:'type',
                                    editable:false,
                                    required:false,
                                    panelHeight:500,    
                                    onSelect:function (rec)
                                    {
                                        $('#F_SampleType').combobox('setValue', rec.value);
                                        queryData();

                                    }             
                                    "></select>
        
        关键字：<input id="F_FilterText" type="text" placeholder="试验名称/报告编号/样品编号/样品名称"
                   style="width:230px;padding: 5px 2px;line-height: 1.3; background-color: #fff; border: 1px solid #ccc;" />
        <a href="javascript:;" class="easyui-linkbutton" id="lbtnSearch" data-options="iconCls:'fa fa-search-plus',plain:false">查询</a>

    </div>
</div>


<script type="text/javascript">

    var gridObj, gdKeyId = 'ID'; paramsData = { LoadApi: '@ViewBag.LoadApi', TargetId: '@ViewBag.TargetId', TypeId: '', FilterText: '', StartDate: '', EndDate: '' }

    $(function () {
        SetTime();
        initData();
        initEvent();
    });


    function SetTime() {
        var curr_time = new Date();
        $('#F_StartDate').datebox('setValue', dateformatter(curr_time));
        var next_time = DateAdd("m ", 1, curr_time);
        $('#F_EndDate').datebox('setValue', dateformatter(next_time));
    };

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        paramsData.LoadApi = 1;
        paramsData.TargetId = data.TargetId;
        queryData();
    }


    //查询数据
    function queryData() {           
        paramsData.TypeId = $('#F_SampleType').combobox('getValue');
        paramsData.FilterText = $('#F_FilterText').val(); //$('#F_FilterText').textbox('getValue');
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');
        QBO.plu.grid.query(gridObj, paramsData);
    }

    function initData() {
        gridObj = $('#dg');
     
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            queryParams: paramsData,
            //method:'GET',
            pageSize: 30,
            singleSelect: true,
            url: '/MsSys/Module/GetReport2',
            colFro: [
                { field: 'ExperimentName', title: '试验名称', width: 200 },
                {
                    field: 'ReportNumber', title: '报告编号', width: 200, align: 'center',
                    formatter: function (value, row, index) {
                        return "<a href=\'#\' style=\'color:#31b0d5\' onclick=\'ViewWin(" + JSON.stringify(row) + ")\'>" + value + "</a>";
                    }
                },
                { field: 'ReportDate', title: '报告日期', width: 120, align: 'center' }
            ],
            col: [
                { field: 'SampleNumber', title: '样品编号', width: 180, align: 'center' },
                { field: 'SampleName', title: '样品名称', width: 200 },
                {
                    field: 'EngineeringPurposes', title: '工程部位/用途', width: 300,
                    formatter: function (value, data, index) {
                        if (value == null || value == '')
                            return '';
                        else
                            return '<span title="' + value + '"  class="easyui-tooltip">' + value + '</span>';
                    }
                },
                {
                    field: 'NoParameterResult', title: '不合格参数及结果', width: 300,
                    formatter: function (value, data, index) {
                        if (value == null || value == '')
                            return '';
                        else
                            return '<span title="' + value + '"  class="easyui-tooltip">' + value + '</span>';
                    }
                },
                { field: 'ProcessingConditions', title: '处理情况', width: 200 },
                { field: 'ExperimentUser', title: '试验人', width: 120 }

            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function (data) {
                $(".easyui-tooltip").tooltip({
                    onShow: function () {
                        $(this).tooltip('tip').css({
                            borderColor: '#000'
                        });
                    }
                });
                $("span.eui-opt-acc").imgPreview();
            }
        });


    }

    function initEvent() {
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'search':
                queryData();
                break;
        }
    }

    //查看
    function ViewWin(row) {
        QBO.frm.openWin(row.ReportUrl, { title: '查看报告', isFull: true });
        setTimeout(function () {
            QBO.frm.getWin('lay').$('body').css('overflow', 'auto');
        }, 2000);
    }

</script>

@*扩展定义*@
<script type="text/javascript">

    function dateformatter(date) {
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
    }

    function DateAdd(interval, number, date) {
        /*
          *   功能:实现VBScript的DateAdd功能.
          *   参数:interval,字符串表达式，表示要添加的时间间隔.
          *   参数:number,数值表达式，表示要添加的时间间隔的个数.
          *   参数:date,时间对象.
          *   返回:新的时间对象.
          *   var   now   =   new   Date();
          *   var   newDate   =   DateAdd( "d ",5,now);
          *---------------   DateAdd(interval,number,date)   -----------------
          */
        switch (interval) {
            case "y ": {
                date.setFullYear(date.getFullYear() + number);
                return date;
                break;
            }
            case "q ": {
                date.setMonth(date.getMonth() + number * 3);
                return date;
                break;
            }
            case "m ": {
                date.setMonth(date.getMonth() + number);
                return date;
                break;
            }
            case "w ": {
                date.setDate(date.getDate() + number * 7);
                return date;
                break;
            }
            case "d ": {
                date.setDate(date.getDate() + number);
                return date;
                break;
            }
            case "h ": {
                date.setHours(date.getHours() + number);
                return date;
                break;
            }
            case "m ": {
                date.setMinutes(date.getMinutes() + number);
                return date;
                break;
            }
            case "s ": {
                date.setSeconds(date.getSeconds() + number);
                return date;
                break;
            }
            default: {
                date.setDate(d.getDate() + number);
                return date;
                break;
            }
        }
    }


</script>
