

@{
    Layout = null;
}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html>
<head>
    <title>WebForm1</title>

    <script src="~/Content/Components/jQuery/jquery-1.12.4.min.js"></script>
</head>
<body bgcolor="#CFEBFB" style="background: #ffffff; overflow: hidden;" >
  8888888888888
</body>

</html>


