
@{
    ViewBag.Title = "SampleView";
    Layout = "~/Views/BasePage/_LayoutMsSysEmpty.cshtml";
}

<style>
    .table {
        width: 90%;
        border: 0px solid #dedede;
        font-size: 12px;
        color: #1f3948;
    }

        .table tr td {
            height: 30px;
            line-height: 30px;
        }

    table tr td {
        border-bottom: 1px solid #e1e1e1;
    }

    .table tr td span {
        color: #666;
    }

    .table .t_tit {
        padding: 10px 0;
        border-bottom: 3px solid #bbe2e9;
    }
</style>

<script src="~/Content/Components/AngularJS/angular.min.js"></script>

<div data-options="region:'center',border:false" ng-app="pageApp">

    <table class="table" ng-controller="pageCtrl">
        <tbody>
            <tr>
                <td align="right" style="width: 30%;border-bottom:none;">样品名称：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{model.SampleName}}</span>
                </td>              
            </tr>

            <tr>
                <td align="right" style="width: 30%;border-bottom:none;">样品编号：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{model.SampleNumber}}</span>
                </td>
            </tr>

            <tr>
                <td align="right" style="width: 30%;border-bottom:none;">工程部位/用途：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{model.EngineeringPurposes}}</span>
                </td>
            </tr>

            <tr>
                <td align="right" style="width: 30%;border-bottom:none;">样品描述：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{model.SampleDescribe}}</span>
                </td>
            </tr>

            <tr>
                <td align="right" style="width: 30%;border-bottom:none;">取样日期：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{model.SamplingDate}}</span>
                </td>
            </tr>
            
            <tr ng-repeat="item in items">
                <td align="right" style="width: 30%;border-bottom:none;">{{item.TestObjectName}}：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{item.TestObjectValue}}</span>
                </td>
            </tr>                  

            <tr>
                <td align="right" style="width: 30%;border-bottom:none;">取样人：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{model.SamplingUser}}</span>
                </td>
            </tr>

            <tr>
                <td align="right" style="width: 30%;border-bottom:none;">备注：</td>
                <td style="width: 70%;text-align:left">
                    <span>{{model.Note}}</span>
                </td>
            </tr>         

        </tbody>
    </table>
</div>



<script>

    //初始化Angular
    var pageApp = angular.module('pageApp', []);
    pageApp.controller('pageCtrl', function ($scope, $http, $sce) {
        initNgData($scope, $http);
        initNgEvent($scope, $http, $sce);
    });

    //初始化ng数据
    function initNgData($scope, $http) {
        $scope.model = QBO.frm.getWin().SuperData;

        $scope.items = JSON.parse($scope.model.TestObjectProperties);

        //console.log(JSON.stringify($scope.items));
    }

    //初始化ng事件
    function initNgEvent($scope, $http, $sce) {



    }

</script>






