
@{
    ViewBag.Title = "SubScttIndex";
    Layout = "~/Views/BasePage/_LayoutMsSysList.cshtml";
}


<div id="toolBarMain" class="list-toolbar">

    <div class="row">
        委托日期: <input id="F_StartDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />

        至<input id="F_EndDate" type="text" class="easyui-datebox" data-options="required:false,width:100,height:28,readonly:false,disabled:false,editable:false" />

        关键字：<input id="F_FilterText" type="text" placeholder="样品编号/样品名称"
                   style="width:180px;padding: 5px 2px;line-height: 1.3; background-color: #fff; border: 1px solid #ccc;" />
        <a href="javascript:;" class="easyui-linkbutton" id="lbtnSearch" data-options="iconCls:'fa fa-search-plus',plain:false">查询</a>

    </div>
</div>


<script type="text/javascript">

    var gridObj, gdKeyId = 'ID'; paramsData = { LoadApi: '@ViewBag.LoadApi', TargetId: '@ViewBag.TargetId', FilterText: '', StartDate: '', EndDate: '' }

    $(function () {
        SetTime();
        initData();
        initEvent();
    });

    function SetTime() {
        var curr_time = new Date();
        $('#F_StartDate').datebox('setValue', dateformatter(curr_time));
        var next_time = DateAdd("m ", 1, curr_time);
        $('#F_EndDate').datebox('setValue', dateformatter(next_time));
    };       

    function ModuleQuery(data) {
        //alert("查询数据" + JSON.stringify(data));
        paramsData.LoadApi = 1;
        paramsData.TargetId = data.TargetId;
        queryData();
    }


    //查询数据
    function queryData() {
        var url = '/MsSys/Module/GetSubSctt';   
        paramsData.FilterText = $('#F_FilterText').val();
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');
        QBO.plu.grid.queryUrl(gridObj, paramsData, url);
    }

    function initData() {
        gridObj = $('#dg');       
    
        paramsData.StartDate = $('#F_StartDate').datebox('getValue');
        paramsData.EndDate = $('#F_EndDate').datebox('getValue');

        QBO.plu.grid.init(gridObj, {
            keyId: gdKeyId,
            queryParams: paramsData,
            //method:'GET',
            pageSize: 30,
            singleSelect: true,
            url: '/MsSys/Module/GetSubSctt',
            colFro: [
                { field: 'SampleName', title: '样品名称', width: 180 },
                {
                    field: 'SampleNumber', title: '样品编号', width: 200, align: 'center',
                    formatter: function (value, row, index) {
                        return "<a href=\'#\' style=\'color:#31b0d5\' onclick=\'ViewWin(" + JSON.stringify(row) + ")\'>" + value + "</a>";
                    }
                }
            ],
            col: [
                { field: 'Specifications', title: '规格型号', width: 200, align: 'center' },
                { field: 'SamplingLocations', title: '生产厂家/产地/取样地点', width: 350 },
                { field: 'SampleAmount', title: '样品数量', width: 120, align: 'center' },
                { field: 'EntrustDate', title: '委托日期', width: 120, align: 'center' },
                { field: 'CommissionedUnit', title: '接受委托单位', width: 300 },

            ],
            toolbar: 'toolBarMain',
            onLoadSuccess: function (data) {
                $("span.eui-opt-acc").imgPreview();
            }
        });


    }

    function initEvent() {
        $('#lbtnSearch').linkbutton({ onClick: function () { doHanlder('search'); } });
    }

    function doHanlder(type) {
        switch (type) {
            case 'search':
                queryData();
                break;
        }
    }


    //查看
    var SuperData = [];
    function ViewWin(row) {
        SuperData = row;
        QBO.frm.openWin('/MsSys/Module/SubScttView', { title: '查看外委信息', width: 700, height: 400 });
    }


</script>

@*扩展定义*@
<script type="text/javascript">

    function dateformatter(date) {
        var y = date.getFullYear();
        var m = date.getMonth();
        var d = date.getDate();
        return y + '-' + (m < 10 ? ('0' + m) : m) + '-' + (d < 10 ? ('0' + d) : d);
    }

    function DateAdd(interval, number, date) {
        /* 
          *   功能:实现VBScript的DateAdd功能. 
          *   参数:interval,字符串表达式，表示要添加的时间间隔. 
          *   参数:number,数值表达式，表示要添加的时间间隔的个数. 
          *   参数:date,时间对象. 
          *   返回:新的时间对象. 
          *   var   now   =   new   Date(); 
          *   var   newDate   =   DateAdd( "d ",5,now); 
          *---------------   DateAdd(interval,number,date)   ----------------- 
          */
        switch (interval) {
            case "y ": {
                date.setFullYear(date.getFullYear() + number);
                return date;
                break;
            }
            case "q ": {
                date.setMonth(date.getMonth() + number * 3);
                return date;
                break;
            }
            case "m ": {
                date.setMonth(date.getMonth() + number);
                return date;
                break;
            }
            case "w ": {
                date.setDate(date.getDate() + number * 7);
                return date;
                break;
            }
            case "d ": {
                date.setDate(date.getDate() + number);
                return date;
                break;
            }
            case "h ": {
                date.setHours(date.getHours() + number);
                return date;
                break;
            }
            case "m ": {
                date.setMinutes(date.getMinutes() + number);
                return date;
                break;
            }
            case "s ": {
                date.setSeconds(date.getSeconds() + number);
                return date;
                break;
            }
            default: {
                date.setDate(d.getDate() + number);
                return date;
                break;
            }
        }
    }

    
</script>
